<template>
    <div class="ByButton">
        <button :class=" !click? 'buy-btn' : 'selected-buy-btn'" v-on:click="byProduct($event)"
                v-if="type === 'default'">
            <span v-if="preloader === false">
                {{ text_btn }}
            </span>
            <img src="/images/preloader_color.svg" v-if="preloader === true">
        </button>

        <a class="buyIcon" href="" v-if="type === 'ico'" v-on:click="byProduct($event)">
            <img src="/images/iconSlider3.png" alt="">
        </a>

        <button :class=" !click? 'inBasket' : 'inBasket-selected'" v-if="type === 'product_page'"
                v-on:click="byProduct($event)">
            <span v-if="preloader === false">
                В корзинy
            </span>
            <img src="/images/preloader_w.svg" v-if="preloader === true">
        </button>
    </div>
</template>

<script>
    import {EventBus} from '../../app';
    import BasketComponent from "../BasketComponent/BasketComponent";

    export default {
        data: () => ({
            text_btn: "Купить",
            click: false,
            preloader: false
        }),
        props: {
            id: Number,
            text: {
                type: String,
                default: "Купить"
            },
            text_purchase: {
                type: String,
                default: "В Корзине"
            },
            quantity: {
                type: Number,
                default: 1
            },
            type: {
                type: String,
                default: "default"
            }
        },
        methods: {
            byProduct: function (e) {
                e.preventDefault();
                this.text_btn = this.text_purchase;
                this.preloader = true;
                let route_e = this.route("baskets.store");
                axios.post(route_e, {
                    quantity: this.quantity,
                    product_id: this.id
                })
                    .then(response => {
                        if (response.data.new_product === true) {
                            EventBus.$emit('inc_products_basket');
                        }
                        this.showBasket();
                        this.preloader = false;
                        this.click = true;
                        this.yandex_by(response.data.price);
                    });
            },
            showBasket: function () {
                this.$modal.show(BasketComponent, {
                    is_modal: true
                }, {
                    width: '90%',
                    height: '630px',
                    classes: [
                        'v--modal',
                        'v--modal-custom',
                        'v--modal-basket'
                    ]
                });
            },
            yandex_by: function (price) {
                var goalParams = {
                    order_price: price,
                    currency: "RUB"
                };
                ym('57002299', 'reachGoal', 'BUY', goalParams);
                return true;
            }
        },
        mounted() {
            this.text_btn = this.text;
        }
    };
</script>
