.ProductSliderComponent {
    // Vars

    // Support

    // Module
    & {
        overflow: hidden;
        padding-bottom: 10px;
    }

    .slider-for {
        position:relative;
        z-index: 1;
    }
    .slider-nav {
        position: relative;
        z-index: 2;
        bottom: 55px;
    }
    .text-center {
        text-align: center;
    }

    .slick-track{
        display: flex;
    }
    .slider-nav .slick-list{
        padding: unset!important;
    }
    .slider-nav .slick-list .slick-track .slick-slide {
        display: flex;
        align-items: center;
        margin: 0 21px;
        box-shadow: -18px 0 20px -20px #333,
        18px 0 20px -20px #333;
        background: white;
    }

    #prod{
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        text-align: -webkit-center;
    }

    #prod img{
        width: 100%;
        height: 600px;
    }

    #prod:hover:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(/images/search-prod.png) no-repeat;
        background-position: center;
        opacity: 0;
        /*border-radius: 50px;*/
        /*width: 100px;*/
        margin: 0 auto;
        background-color: rgba(0,0,0,.5);
    }
    #prod:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        opacity: 0;
        width: 100%;
        margin: 0 auto;
    }
    #prod:hover:before,
    #prod:hover:after{
        margin: 0 auto;
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .prevProd{
        position: absolute;
        top: 100%;
        margin-left: 35%;
        cursor: pointer;
    }
    .nextProd{
        position: absolute;
        margin-right: 35%;
        cursor: pointer;
        right: 0;
    }
    @media (max-width: 550px) {
        .prevProd{
            margin-left: unset;
        }
        .nextProd{
            margin-right: unset;
        }
    }
    // Facets

    // States
}
