<template>
    <div class="ProductSliderComponent">
        <slick ref="slick" :options="slickOptionsFor" class="slider-for height-slick-img">>
            <a v-for="image in images" :href="'/uploads/standard/' + image.link" rel="nofollow"
               v-on:click="showImage($event, '/uploads/standard/' + image.link)">
                <div id="prod">
                    <img class="prod" :src="'/uploads/standard/' + image.link" alt="">
                </div>
            </a>
        </slick>

        <slick ref="slick" :options="slickOptionsNav" class="slider-nav" v-if="images.length > 1">
            <div v-for="image in images">
                <img class="prod" :src="'/uploads/mini/' + image.link" alt="">
            </div>
        </slick>
    </div>
</template>

<script>
    import Slick from 'vue-slick';
    import ImageModalComponent from "../Modals/ImageModalComponent/ImageModalComponent";

    export default {
        data() {
            return {
                slickOptionsFor: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: true,
                    asNavFor: '.slider-nav'
                },
                slickOptionsNav: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    asNavFor: '.slider-for',
                    dots: false,
                    focusOnSelect: true,
                    arrows: true,
                    draggable: true,
                    prevArrow: '<div class="prevProd"><img src="/images/long-arrow-left.png"></div>',
                    nextArrow: '<div class="nextProd"><img src="/images/long-arrow-right.png"></div>'
                },
            };
        },
        props: {
            images: {
                type: Array,
                default: []
            }
        },
        components: {
            Slick
        },
        methods: {
            showImage: function (e, link) {
                e.preventDefault();
                this.$modal.show(ImageModalComponent, {
                    link: link
                }, {
                    width: '100%',
                    height: '100%'
                });
            }
        }
    };
</script>
<style lang="scss">
    @import '_ProductSliderComponent.scss';
</style>
