<template>
    <div class="UserPanelComponent col-md-5 icons header_text">
        <a :href="this.route('admin.main')" class="icon" v-if="is_auth === 1">
            <img height="16px" src="/images/admin.png" alt="">
        </a>

        <a href="#login" rel="nofollow" class="icon" v-on:click="loginForm($event)" v-if="is_auth === 0">
            <img class="" src="/images/icon/login.png">
        </a>

        <button type="submit" v-if="is_auth === 1" v-on:click="logout">
            <img src="/images/icon/logout.png">
        </button>

        <a :href="links.likes" class="icon">
            <img class="" src="/images/icon/like.png">
        </a>

        <a :href="links.basket" class="icon basket-icon">
            <img class="" src="/images/icon/basket.png">
            <div id="circle-price">
                <p class="">{{ products_quantity_e }}</p>
            </div>
        </a>
    </div>
</template>

<script>
    import {EventBus} from '../../app';
    import LoginComponent from "../LoginComponent/LoginComponent";
    import RegisterComponent from "../RegisterComponent/RegisterComponent";

    export default {
        data: () => ({
            products_quantity_e: 0,
            links: {
                likes: false,
                basket: false
            }
        }),
        props: {
            products_quantity: {
                type: Number,
                default: 0
            },
            is_auth: {
                type: Number,
                default: false
            }
        },
        mounted() {
            this.links.likes = this.route('likes.index');
            this.links.basket = this.route('baskets.index');
            this.products_quantity_e = this.products_quantity;
            EventBus.$on('inc_products_basket', data => {
                this.products_quantity_e++;
            });
            EventBus.$on('dec_products_basket', data => {
                this.products_quantity_e--;
            })
        },
        methods: {
            loginForm: function (e = false) {
                if (e) {
                    e.preventDefault();
                }
                this.$modal.show(LoginComponent, {
                    methods: {
                        regForm: this.regForm,
                    }
                }, {
                    width: '500px',
                    height: '350px',
                    classes: [
                        'v--modal',
                        'v--modal-custom'
                    ]
                });
            },
            regForm: function () {
                this.$modal.show(RegisterComponent, {
                    methods: {
                        loginForm: this.loginForm
                    }
                }, {
                    width: '500px',
                    height: '500px',
                    classes: [
                        'v--modal',
                        'v--modal-custom'
                    ]
                });
            },
            logout: function () {
                let route_e = this.route("logout");
                axios.post(route_e)
                    .then((response) => {
                        location.reload();
                    });
            }
        }
    };
</script>

<style lang="scss">
    @import '_UserPanelComponent.scss';
</style>
