@media (max-width: 550px) {
    /*страница продукта*/
    .checkout_button_second_column-modal-buyOneClick a {
        padding: 17px 50px;
    }
    .buyOneClick {
        width: 190px;
    }
    .checkout_button {
        display: flex;
        flex-direction: column;
    }
    .checkout_button_second_column {
        margin: 15px;
    }
    .container {
        justify-content: center;
    }
    .items_center {
        display: flex;
        justify-content: center;
    }
    .address {
        padding: 0 !important;
    }
    .address-flex {
        display: block;
    }
    .map-container {
        width: 100%;
    }
    .news-form-btn {
        position: absolute;
        right: 10px;
        /* top: -46%; */
        transform: translateY(20px);
    }
    #prod-name-sale p{
        margin: 20px auto 0;
    }

    #prod-flexbox2 .title_prod{
        text-align: center;
    }

    #square-mobile{
        display: block;
        width: 70px;
        height: 70px;
        background: #FFF96C;
        position: absolute;
        right: 0;
        z-index: 1000;
        margin: -24px 33px 0 0;
    }
    #square-mobile p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    #price-prod {
        font-size: 18px;
    }

    #square {
        display: none;
    }

    .btns #buyOneClick{
        margin-bottom: 25px;
    }
    /*страница продукта*/
    .section-info {
        flex-wrap: wrap;
        height: unset;
        padding: 20px;
    }
    .shop_sort_button {
        display: block;
    }
    .news-form {
        width: 80vw;
    }

    .promoSub {
        width: 80vw;
        /*display: contents;*/
    }

    .address {
        padding: 30px 20px;
    }

    .menu-bar, .section-info, .section-catalog {
        display: none;
    }

    .mobile-padding {
        display: block;
        padding-top: 60px
    }

    .mobile-menu {
        background: white;
        height: 60px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        box-shadow: 0 7px 11px -14px black;
        transition: 0.3s;
    }

    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 3px;
        background: #ffffff;
        margin: 3px 0;
        transition: 0.4s;
        border-radius: 20%;
    }

    .menuBtn {
        cursor: pointer;
        width: 60px;
        background: #ff8c73;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .searchBtn {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
    }

    .active .bar1 {
        transform: rotate(-45deg) translate(-5px, 3px);
    }

    .active .bar2 {
        opacity: 0;
    }

    .active .bar3 {
        transform: rotate(45deg) translate(-6px, -4px);
    }

    .left-nav, .right-nav {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .mainSlider .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .category__title {
        font-size: 22px;
    }

    .category__description {
        font-size: 16px;
    }

    .pay-var div {
        width: 27px;
    }

    .copyright img {
        max-width: 32px;
    }

    #footer-news1 div {
        font-size: 22px;
    }

    .category__block {
        margin-top: 10px;
    }

    .mainSlider .main__slider-text img.arrow {
        height: 15px;
    }

    .main__slider-text h5 {
        margin-top: 0;
    }

    .main__slider-text {
        width: unset;
        margin: 25px;
    }

    .carousel-caption {
        left: 0;
        top: 0;
    }

    .content-section {
        padding: 0 33px;
    }

    .category__good-block {
        width: 90%;
    }

    .content-section.promo {
        padding: 0;
    }

    .content-section.promo .sale-flexbox.category__block a {
        height: 300px;
        background: white;
        width: 100%;
    }

    .content-section.promo .sale-flexbox.category__block a .sale-img {
        height: 300px;
        object-fit: cover;
    }

    .sale-flexbox p {
        height: 300px;
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .category__block {
        margin-top: 0;
    }

    .footer_container_cell {
        height: unset;
    }

    #footer-news1 {
        margin-top: 30px;
    }

    .copyright #copyright-col1 {
        position: relative;
        margin-top: 70px;
        left: unset;
    }

    .cop {
        position: relative;
        margin-top: 21px;
        right: unset;
    }

    .mobile-menu-content {
        background: #FF876C;
        position: fixed;
        bottom: 0;
        height: calc(100vh - 60px);
        width: 100vw;
        display: none;
        right: 0;
        overflow: scroll;
    }

    .menuWrapper {

    }

    .catalogList, .menuDesc {
        display: flex;
        flex-flow: column;
        padding: 20px;
    }

    .menuWrapper h2 {
        padding: 0 20px;
    }

    .catalogList a, .menuDesc a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 10px 0;
    }

    .menuWrapper h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .promo .category__description {
        padding: 0 15px;
        width: unset;
    }

    .menuDesc {
        margin-bottom: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ffffff3b;
        background: #ff8c73;
    }

    .footer_text {
        display: none;
    }

    .footer-main {
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        margin-top: 30px;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .footer_head_text {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        padding: 30px 0;
    }

    .footer_head_text img {
        display: block;
        transform: rotate(180deg);
        transition: .3s;
    }

    .footer_head_text .active {
        transform: rotate(0);
    }

    .copyright {
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
    }

    .horizontalStrip-footer {
        display: none;
    }

    .modal {
        margin-top: 60px;
    }

    .modal-body {
        padding: 35px;
    }

    .modalBtn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-flow: column;
    }

    .login, .modal-title-callback, .reg {
        margin: 0;
    }

    .forgotpass {
        margin: 10px 0;
        text-align: center;
    }

    .login-site {
        margin: 15px 0;
    }

    .news-form-btn-footer {
        width: 30vw;
        margin-left: -30vw;
    }

    .category__link-block a {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .searchContainer{
        height: 60px;
        width: 100vw;
        position: fixed;
        top: 60px;
        left: 0;
        background: white;
        display: none;
        box-shadow: 0 7px 11px -14px black;
    }
    .searchBtn img{
        opacity: 0.5;
    }
    .searchFormInput{
        margin: 10px;
        padding: 5px 20px;
        width: 83vw;
        font-size: 22px;
        border: none;
        border: 1px solid #0000001a;
        border-radius: 50px;
    }
    .searchSubmit{
        position: absolute;
        right: 0vw;
        top: 0px;
        padding: 20px;
        opacity: 0.6;
    }
    .modal-content{
        border: none;
        height: calc( 100vh - 60px );
        border-radius: 0;
    }
    .modal-dialog{
        margin: 0;
    }
    .modal-header{
        justify-content: center;
    }
    .checkout_input{
        display: block;
    }
    .checkout_input label{
        font-size: 14px;
    }
    .site-path{
        padding: 0 20px;
        margin-bottom: 4px;
        margin-top: 25px;
    }
    .basket_checkout_success{
        padding: 0 20px;
    }
    .go_back_catalog{
        width: 100%;
    }
    .basket_second_column, .news_second_column{
        margin-top: 30px;
    }
    .contact_map{
        display: flex;
        flex-flow: column-reverse;
    }
    .contact_info{
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
    }
    .contact-sec, .contact_info_store_address{
        padding: 0 20px;
    }
    .contact_map iframe{
        height: 60vh;
    }
    .news img{
        width: 100%;
    }
    .site-path-news {
        margin-bottom: -22px;
        margin-top: 5px;
    }
    .news_single_page_info{
        display: flex;
        flex-flow: wrap;
    }
    #useful_product_modal .modal-content, #useful_product_modal-buyOneClick .modal-content{
        width: 100%;
        height: auto;
    }
    #useful_product_modal .modal-body{
        flex-flow: column;
        padding: 60px 20px;
    }
    #useful_product_modal-buyOneClick .modal-body{
        padding: 0;
        height: auto;
    }
    .inBasket-modal, .buyOneClick-modal{
        width: 100%;
    }
    #useful_product_modal .btns{
        justify-content: space-between;
    }
    .to-good{
        padding: 0;
    }
    .prod-modal{
        width: 100%;
        padding: 0;
    }
    #useful_product_modal-buyOneClick .inputs-text{
        width: 100%;
    }
    .good-modal-buyOneClick{
        flex-flow: column;
        height: unset;
    }
    .prod-modal-buyOneClick{
        padding: 0;
        width: 100%;
    }
    .title-text-tab{
        font-size: 10px;
    }
    .category__block{
        margin-top: 30px;
        min-width: unset;
    }
    #prod-flexbox2 .btns{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .wrap2, .wrap1{
        justify-content: space-between;
        margin-top: 5px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .with-buy{
        font-size: 20px;
    }
    .page_number_go{
        display: none;
    }
    .my-review{
        margin: 0 -33px;
        width: fit-content;
    }
    .carousel{
        margin: 0;
    }
    .shipping_first_column_text{
        padding: 0 13px;
    }
    .shop{
        width: 100%;
        flex-flow: column;
    }
    .shop .filter{
        width: auto;
        padding: 0 20px;
    }
    .shop .shop_catalog{
        width: auto;
        padding: 0 20px;
    }
    .shop_product, .categories{
        display: flex;
        flex-wrap: wrap;
    }
    .categories_item, .categories_item img{
        width: 100%;
    }
    .shop_title{
        width: auto;
        padding: 0 20px;
        font-size: 20px;
    }
    .banner_categories{
        display: none
    }
    .news-block{
        width: auto;
        padding: 20px 33px;
    }
    .count, .like, .inBasket, .buyOneClick{
        margin: 0;
    }
    .changeColorRed{
        transition: 0.3s;
        background: #ff8c73;
    }

}
