.ModificationComponent {
    // Vars

    // Support

    // Module
    & {
        .disabled {
            opacity: 0.3!important;
            cursor: default!important;
        }
    }

    // Facets

    // States
}
