<template>
    <div class="ModificationComponent">
        <div class="shop_item_attr-size" v-for="group_modification in modifications.groups">
            <div class="attr_title">{{ group_modification[0].type.name }}:</div>
            <span v-for="modification in group_modification">
                <span class="shop_item-size"
                      v-if="modification.color == null"
                      :class="{
                          shop_active_size: currentTreeModifications.indexOf(modification.id) !== -1 ,
                          disabled: checkDisabled(modification)
                      }"
                      v-on:click="changeCurrentProduct(modification)"
                >
                    {{ modification.name }}
                </span>
                <span class="shop_item-color" v-else :style="{ background: modification.color.hex_color }"
                      :class="{
                        shop_active_color: currentTreeModifications.indexOf(modification.id) !== -1,
                        disabled: checkDisabled(modification)
                    }"
                      v-on:click="changeCurrentProduct(modification)"
                ></span>
            </span>
        </div>
        <!--        <div class="shop_item_attr-size">shop_active_size-->
        <!--            <div class="attr_title">Размер:</div>-->
        <!--            <span class="shop_item-size">40x40</span>-->
        <!--            <span class="shop_item-size">50x70</span>-->
        <!--            <span class="shop_item-size">80x40</span>-->
        <!--            <span class="shop_item-size">90x40</span>-->
        <!--        </div>-->
        <!--        <div class="shop_item_attr">-->
        <!--            <div class="attr_title">Цвет:</div>-->
        <!--            <span class="shop_item-color shop_active-color" style="background: #6197FF;"></span>-->
        <!--            <span class="shop_item-color" style="background: #FF5454;"></span>-->
        <!--            <span class="shop_item-color" style="background: #F4FF71;"></span>-->
        <!--            <span class="shop_item-color" style="background: #FFB422;"></span>-->
        <!--        </div>-->
        <!--        <div class="shop_item_attr-size shop_item_attr-basis">-->
        <!--            <div class="attr_title">Основа:</div>-->
        <!--            <span class="shop_item-size shop_active-size">Гладкая</span>-->
        <!--            <span class="shop_item-size">Шипованная </span>-->
        <!--        </div>-->
    </div>
</template>

<script>
    import groupArray from 'group-array';
    import arrayToTree from "array-to-tree";

    export default {
        data: () => ({
            modifications: {},
            currentTreeModifications: [],
            currentVariableModifications: []
        }),
        props: {
            pProduct: {
                default: {}
            },
            pActiveModificationId: {
                default: null
            },
            pRebuildSlick: {
                default: null
            },
            pIndex: {
                default: null
            }
        },
        mounted() {
            this.ActiveModificationId = this.pActiveModificationId;
            if (this.pProduct.modifications != null) {
                this.modifications = {
                    groups: groupArray(this.pProduct.modifications, 'type_modification_id'),
                    // tree: arrayToTree(this.pModifications, {
                    //     parentProperty: 'modification_id',
                    //     customID: 'id',
                    //     childrenProperty: 'modifications'
                    // }),
                    list: this.pProduct.modifications
                };
            }
            this.currentTree();
        },
        methods: {
            currentTree: function () {
                let modification_id = this.ActiveModificationId;
                this.currentTreeModifications = [];
                this.currentVariableModifications = [2];
                while (modification_id != null) {
                    for (let i in this.modifications.list) {
                        if (this.modifications.list[i].id === modification_id) {
                            this.currentTreeModifications.push(modification_id);
                            modification_id = this.modifications.list[i].modification_id;
                        }

                        if (
                            this.currentTreeModifications.indexOf(this.modifications.list[i].modification_id) !== -1 ||
                            this.modifications.list[i].modification_id === null
                        ) {
                            this.currentVariableModifications.push(this.modifications.list[i].id);
                        }
                    }
                }
            },
            changeCurrentProduct: function (modification)      {
                this.ActiveModificationId = modification.id;
                if (modification.products && modification.products.length) {
                    this.pProduct.current = modification.products[0];
                    this.pRebuildSlick(this.pIndex);
                }
                this.currentTree();
            },
            checkDisabled: function (modification) {
                if (
                    this.currentVariableModifications.indexOf(modification.id) === -1 ||
                    (
                        modification.products &&
                        !modification.products.length &&
                        this.modifications.groups[Object.keys(this.modifications.groups).length].map(function (currentValue, index, arr) {
                            return currentValue.id;
                        }).indexOf(modification.id) !== -1
                    )
                ) {
                    return true;
                }
                return false;
            }
        }
    };
</script>
<style lang="scss">
    @import '_ModificationComponent.scss';
</style>
