<template>
    <div class="LikesComponent">
        <button v-if="type === 'default'" class="like" :class="{'active' : click}"
                v-on:click="likeMethod($event)"></button>

        <a class="favIcon" href="" v-if="type === 'ico'" v-on:click="likeMethod($event)">
            <img src="/images/iconSlider2.png" alt="">
        </a>
    </div>
</template>

<script>
    export default {
        data: () => ({
            click: false
        }),
        props: {
            id: Number,
            type: {
                type: String,
                default: "default"
            },
            active_like: {
                default: false
            }
        },
        methods: {
            likeMethod: function (e) {
                e.preventDefault();
                if (this.click) {
                    this.removeLike();
                } else {
                    this.like();
                }
                this.click = !this.click;
            },
            like: function () {
                let route_e = this.route("likes.store");
                if (this.type == 'ico') {
                    this.$swal.fire(
                        'Избранное',
                        'Товар успешно добавлен в избранное',
                        'success'
                    );
                }

                axios.post(route_e, {
                    product_id: this.id
                });
            },
            removeLike: function () {
                let route_e = this.route("likes.destroy");
                axios.delete(route_e, {
                    data: {
                        product_id: this.id
                    }
                });
            }
        },
        mounted() {
            this.click = this.active_like;
        }
    };
</script>
