.CategoriesSliderComponent {
    // Vars

    // Support

    // Module
    & {
        overflow: hidden;
    }

    .item-circle {
        outline: none;
        //margin: 10px;
    }
    .category__circle-block{
        border-radius: 50px;
        overflow: hidden;
        display: block;
        position: relative;
        width: 100px;
        margin: 0 auto;
    }
    .category__circle-block:hover:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background: url(/images/search.png) no-repeat;
        background-position: center;
        opacity: 0;
        border-radius: 50px;
        width: 100px;
        margin: 0 auto;
        cursor: pointer;
    }
    .category__circle-block:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        opacity: 0;
        border-radius: 50px;
        width: 100px;
        margin: 0 auto;
    }
    .category__circle-block:hover:before,
    .category__circle-block:hover:after {
        margin: 0 auto;
        opacity: 1;
        transition: all 0.5s ease-out;
    }
    // стрелки лево/право
    .prevCat {
        position: absolute;
        top: 65%;
        cursor: pointer;
        left: 150px;
        z-index: 1;
    }
    .nextCat {
        position: absolute;
        top: 65%;
        cursor: pointer;
        right: 150px;
    }
    @media (max-width: 1440px) {
        .prevCat {
            left: 4%;
        }
        .nextCat {
            right: 4%;
        }

    }

    @media (max-width: 550px) {
        .slick-arrow {
            display: none!important;
        }
    }
    // стрелки лево/право

    // Facets

    // States
}
