<template>
    <div class="CategoriesSliderComponent circle-carousel">
        <slick
            ref="slick"
            :options="slickOptions"
        >
            <a v-for="category in categories" :href="getRoute(category.slug)" class="item item-circle cat">
                <div class="category__circle-block" >
                    <img class="category__circle" :src="'/uploads/mini/' + category.image" alt="">
                </div>
                <div>
                    <p>{{ category.name }}</p>
                </div>
            </a>
        </slick>
    </div>
</template>

<script>
    import Slick from 'vue-slick';

    export default {
        data() {
            return {
                slickOptions: {
                    dots: false,
                    infinite: true,
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    prevArrow: '<div class="prevCat"><img src="../images/small-arrow-left.png"></div>',
                    nextArrow: '<div class="nextCat"><img src="../images/small-arrow-right.png"></div>',
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 6
                            }
                        },
                        {
                            breakpoint: 1000,
                            settings: {
                                slidesToShow: 4
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 300,
                            settings: {
                                slidesToShow: 1
                            }
                        }
                    ]
                },
            };
        },
        props: {
            categories: {
                type: Array,
                default: []
            }
        },
        methods: {
            getRoute: function (slug) {
                return this.route('categories.page', {'slug': slug});
            }
        },
        components: {
            Slick
        }
    };
</script>


<style lang="scss">
    @import '_CategoriesSliderComponent.scss';
</style>
