<template>
    <div class="LoginComponent">
        <h3 class="modal-title">Вход</h3>

        <div class="modal-body">
            <input id="email" type="email" class="call-back-form form-control" v-model="user.email"
                   autocomplete="email" autofocus placeholder="Email">
            <input id="password" type="password" class="call-back-form form-control" v-model="user.password"
                   autocomplete="current-password" placeholder="Пароль">
        </div>

        <div class="button_area">
            <button class="btn-modal login" v-on:click="login()">
                <span v-if="preloader === false">
                    Войти
                </span>
                <img src="/images/preloader_w.svg" v-if="preloader === true">
            </button>

            <!--            <a class="forgotpass" href="{{ route('password.request') }}">Забыли пароль?</a>-->
        </div>

        <div class="registration">
            <a href="#" rel="nofollow" class="registration" v-on:click="regForm($event)">Регистрация
                на сайте</a>
        </div>

        <span @click="$emit('close')" class="close"></span>
    </div>
</template>

<script>
    export default {
        data: () => ({
            user: {
                email: null,
                password: null
            },
            preloader: false
        }),
        props: {
            methods: {
                type: Object
            }
        },
        methods: {
            login: function () {
                let route_e = this.route("ajax_login");
                this.preloader = true;
                axios.post(route_e, this.user)
                    .then(response => {
                        this.preloader = false;
                        this.$swal.fire(
                            'Аутентификация',
                            'Вы успешно вошли!',
                            'success'
                        );
                        this.$emit('close');
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    }).catch((error) => {
                    this.preloader = false;
                    let key = Object.keys(error.response.data.errors)[0];
                    this.$swal.fire(
                        'Аутентификация',
                        error.response.data.errors[key][0],
                        'error'
                    )
                });
            },
            regForm: function (e) {
                e.preventDefault();
                this.$emit('close');
                this.methods.regForm();
            }
        }
    };
</script>

<style lang="scss">
    @import '_LoginComponent.scss';
</style>
