.ImageModalComponent {
    // Vars

    // Support

    // Module

    padding: 10px;
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;

    .modal_wrap {
        display: inline-block;
        padding: 25px;
        background: white;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        .modal_image {
            max-width: 90vh;
            max-height: 90vh;
        }
    }

    // Facets

    // States
}
