<template>
    <div class="ImageModalComponent">
        <div class="modal_wrap" ref="dropdown">
            <img :src="link" class="modal_image"/>
            <span @click="$emit('close')" class="close"></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            link: false
        },
        created() {
            document.addEventListener('click', this.dropdown)
        },
        destroyed() {
            document.removeEventListener('click', this.dropdown)
        },
        methods: {
            dropdown(e) {
                let el = this.$refs.dropdown;
                let target = e.target;
                if (el !== target && !el.contains(target)) {
                    this.$emit('close');
                }
            }
        }
    };
</script>

<style lang="scss">
    @import '_ImageModalComponent.scss';
</style>
