.ProductsSliderComponent {
    .slick-slide:first-child{
        height: 100%;
    }
    // Vars
    overflow: hidden;
    outline: none;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    // Support

    // Module
    & {
        overflow: hidden;
        outline: none;
    }
    .slick-slider {
        width: 100%;
    }
    .slick-slide {
        margin: 0 20px;
    }
    .item {
        outline: none;
        text-align: center;
        padding: 0 10px;
        position: relative;
        padding-bottom: 75px;
        height: 100%;
    }
    .category__good-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.9);
        outline: none;
    }

    .category__good-block{
        display: block;
        position: relative;
        //width: 228px;
        margin: 0 auto;
        outline: none;
    }
    .category__good-block-prod{
        display: block;
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .category__good-block:hover:after, .category__good-block-prod:hover:after {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /*background: url(../images/iconSlider1.png) no-repeat  20% 50%,*/
        /*url(../images/iconSlider2.png) no-repeat center,*/
        /*url(../images/iconSlider3.png) no-repeat 80% 50%;*/
        opacity: 0;
        width: 100%;
        margin: 0 auto;
    }
    .category__good-block:before, .category__good-block-prod:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,135,108,0.9);
        opacity: 0;
        width: 100%;
        margin: 0 auto;
    }
    .category__good-block:hover:before,
    .category__good-block:hover:after,
    .category__good-block-prod:hover:before,
    .category__good-block-prod:hover:after{
        margin: 0 auto;
        opacity: 1;
        transition: all 0.5s ease-out;
    }
    .category__good-title p{
        margin-top: 20px;
        min-height: 65px;
    }
    .category__good-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.9);
    }
    .category__good-description{
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.7);
        min-height: 70px;
        font-family: Playfair Display;
    }
    .category__good-price{
        font-weight: 600;
        font-size: 20px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.9);
    }
    // стрелки лево/право
    .prevPop {
        position: absolute;
        top: 65%;
        cursor: pointer;
        left: 150px;
    }
    .nextPop {
        position: absolute;
        cursor: pointer;
        right: 150px;
        top: 65%;
    }

    @media (max-width: 1440px) {
        .prevPop {
            left: 4%;
        }
        .nextPop {
            right: 4%;
        }

    }
    @media (max-width: 550px) {
        .slick-arrow {
            display: none!important;
        }
    }
    // стрелки лево/право
    /*на главной ссылки в виде трех картинок при наведении на товар*/
    .item-good a:hover .ItemButtons {
        display: flex;
    }

    .ItemButtons{
        position: relative;
        display: none;
        align-items: center;
        justify-content: space-evenly;
        right: 8px;
    }

    .ItemButtons a{
        outline: none;
        position: absolute;
        bottom: 160px;
        z-index: 1000;
    }

    .ItemButtons .fancyIcon{
        left: 54px;
    }
    .slick-disabled {
        display: none!important;
    }
    // Facets

    // States
}
