<template>
    <div class="ProductsSliderComponent">
        <slick
            ref="slick"
            v-if="products.length"
            :options="slickOptions"
        >
            <div class="item item-good" v-for="product in products">
                <a class="category__good-block" :href="getRoute(product.slug)">
                    <div v-if="product.product_images[0].link">
                        <img class="category__good" :src="'/uploads/mini/' +  product.product_images[0].link" alt="">
                        <div class="ItemButtons">
                            <div>
                                <a class="fancyIcon" v-on:click.prevent="showImage('/uploads/standard/' + product.product_images[0].link)">
                                    <img height="20px" src="/images/iconSlider1.png" alt="">
                                </a>
                            </div>
                            <like-button-component :id="product.id" type="ico"></like-button-component>
                            <by-button-component :id="product.id" type="ico"></by-button-component>
                        </div>
                    </div>
                </a>
                <a class="category__good-title" :href="getRoute(product.slug)">
                    <p>
                        {{ product.name }}
                        <br/>
                        {{ product.size }}
                        {{ product.color }}
                    </p>
                </a>

                <div class="product_fix_block">
                    <p class="category__good-price">
                        <span v-if="product.price_discount">{{ Math.trunc(product.price_discount) }} руб.</span>
                        <span v-else>{{ Math.trunc(product.price) }} руб.</span>
                    </p>
                    <by-button-component :id="product.id"></by-button-component>
                </div>
            </div>
        </slick>
    </div>
</template>

<script>
    import Slick from 'vue-slick';
    import ImageModalComponent from "../Modals/ImageModalComponent/ImageModalComponent";

    export default {
        data() {
            return {
                slickOptions: {
                    dots: false,
                    infinite: false,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    prevArrow: '<div class="prevPop"><img src="../images/small-arrow-left.png"></div>',
                    nextArrow: '<div class="nextPop"><img src="../images/small-arrow-right.png"></div>',
                    responsive: [
                        {
                            breakpoint: 1400,
                            settings: {
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 1100,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 1
                            }
                        }
                    ]
                },
                products: {
                    type: Array,
                    default: []
                }
            };
        },
        props: {
            route_e: {
                type: String,
                default: null
            },
            category_id: {
                type: Number,
                default: null
            }
        },
        methods: {
            getRoute: function (slug) {
                return this.route('products.page', {'slug': slug});
            },
            getProducts: function () {
                let route_l = null;
                if (this.category_id != null) {
                    route_l = this.route(this.route_e, {"id": this.category_id});
                } else {
                    route_l = this.route(this.route_e);
                }

                axios.get(route_l)
                    .then(response => {
                        this.products = response.data;
                    });
            },
            showImage: function (link) {
                this.$modal.show(ImageModalComponent, {
                    link: link
                }, {
                    width: '100%',
                    height: '100%'
                });
            }
        },
        components: {
            Slick
        },
        mounted: function () {
            this.getProducts();
        }
    };
</script>
<style lang="scss">
    @import 'ProductListSliderComponent';
</style>
