.CategoriesComponent {
    // Vars

    // Support

    // Module
    & {
        //
        /*только со скидкой для категорий*/
        .only-with-sale {
            color: #FF876C;
        }

        .preloader_block {
            margin: 25px;
            text-align: center;
            width: 100%;
        }

        // новая стилизация карточки товара начало
        .shop_item {
            padding-bottom: 90px;

            &_attr {
                font-family: Playfair Display;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.7);

                &-wrap {
                    text-align: left;
                }

                &-basis {
                    .shop_item-size {
                        padding: 4px 10px;
                        min-width: 95px;
                        cursor: pointer;
                    }
                }
            }

            &-size {
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #585858;
                display: inline-block;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                padding: 4px 6px;
                margin-bottom: 3px;
                transition: all 0.4s;
                cursor: pointer;
            }

            &-color {
                display: inline-block;
                width: 29px;
                height: 29px;
                border-radius: 3px;
                border: 1.5px solid inherit;
                transition: all 0.4s;
                cursor: pointer;
            }
        }

        .shop_item-size:hover:not(.disabled),
        .shop_active_size {
            background: #FF876C;
            border: 1px solid #FF876C;
            color: #fff;
        }

        .shop_item-color:hover:not(.disabled),
        .shop_active_color {
            border: 1.5px solid #FF876C;
        }

        .attr_title {
            color: rgba(0, 0, 0, 0.7);
        }

        .shop_item_image {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 20px 15px;
        }

        .sale_item {
            background: #FFF96C;
            border-radius: 3px;
            display: block;
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;
            text-transform: uppercase;
            padding: 5px 17px;

            &_bg {
                background: #FF876C;
            }
        }

        .shop_item_sale_block {
            font-family: Montserrat;
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
        }

        .catalog_add_basket {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #FF876C;
            border-radius: 3px;
            border: none;
            width: 85%;
            min-height: 38px;
            margin: 0 auto;
            position: relative;

            &:focus {
                outline: none;
            }
        }

        .catalog_basket_count {
            position: absolute;
            left: 1px;
            top: 1px;
            bottom: 1px;
            background: #fff;
            display: none;
            border-radius: 3px 0 0 3px;
            padding: 0 9px;
            text-align: center;

            input {
                width: 38px;
                background: #fff;
                border: none;
                box-sizing: border-box;
                text-align: center;
                color: #000;
                font-weight: bold;

                &::placeholder {
                    color: #000;
                    font-weight: bold;
                }
            }

            .input-group-prepend, .input-group-append {
                .btn {
                    border: none;
                    padding: 0;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FF876C;

                    &:hover {
                        background: inherit;
                    }

                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }

            .input-group-append {
                margin-right: 0;
                margin-left: -13px;
            }
        }

        .shop_item {
            &:hover {
                .shop_item_favorite {
                    opacity: 1;
                }

                p {
                    color: #000;
                }
            }

            &_favorite {
                position: absolute;
                left: 20px;
                top: 5px;
                opacity: 0;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &_title {
                line-height: 22px;
            }

            &_price {
                &-old {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-decoration-line: line-through;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.7);
                    margin-right: 5px;
                }

                &-block {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }

        .shop_item_star {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }

        .stars-block {
            display: flex;
            margin-right: 10px;

            svg {
                cursor: pointer;
                margin-right: 3px;
            }
        }

        // новая стилизация карточки товара конец
        // Блок с акцией
        .stock {
            background: #FCFCFC;
            border: 1px solid rgba(0, 0, 0, 0.05);
            padding: 7px 14px 14px;

            &__title {
                font-size: 16px;
                color: #585858;
            }

            &-block {
                display: flex;
                align-items: center;

                &__item {
                    img {
                        max-width: 140px;
                    }

                    display: flex;
                    align-items: center;
                }

                &-total {
                    text-align: center;

                    &__title {
                        display: block;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        color: #585858;
                    }
                }
            }

            &-item {
                &-desc {
                    display: inline-block;
                    max-width: 207px;

                    &__title {
                        font-weight: 600;
                        font-size: 15px;
                        text-align: center;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #161616;

                    }

                    &__price {
                        display: block;
                        font-weight: 600;
                        font-size: 18px;
                        text-align: center;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.9);

                        &-old {
                            display: block;
                            text-align: center;
                            font-weight: 500;
                            font-size: 12px;
                            text-align: center;
                            letter-spacing: 0.05em;
                            text-decoration-line: line-through;
                            text-transform: uppercase;
                            color: rgba(0, 0, 0, 0.7);
                        }
                    }
                }
            }

        }

        .icon-mark {
            color: #FF876C;
            font-weight: 900;
            font-size: 25px;
            margin: 0 5px;
            display: inline-block;
        }

        .to-basket-total {
            background: #FF876C;
            border-radius: 3px;
            color: #fff;
            border: none;
            text-transform: uppercase;
            text-align: center;
            display: block;
            width: 100%;

            span {
                display: block;
                font-size: 12px;
                padding: 3px 5px;
            }
        }

        .total-sale {
            background: #FF876C;
            border-radius: 3px;
            display: inline-block;
            color: #fff;
            padding: 4px 15px;
            font-size: 14px;
        }

        @media screen and (max-width: 1199px) {
            .stock {
                &-block {
                    flex-wrap: wrap;
                }
            }
        }
        @media screen and (max-width: 991px) {
            .stock {
                &-block {
                    justify-content: center;
                }

                &__title {
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            .icon-mark {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
        //Кнопка оформления заказа
        .catalog-checkout {
            text-align: right;

            .catalog_basket_count {
                display: flex;
            }
        }
        .slick-slider {
            overflow: hidden;
        }
    }
    // Facets

    // States
}
