<template>
    <div class="container CategoriesComponent" style="/*width: 100%*/">
        <div class="row shop">
            <div class=col-md-3>
                <!--                <filters-component v-bind:price_range_p.sync="current_filters.price_range"-->
                <!--                                   :slug="slug"></filters-component>-->
            </div>
            <div class="col-md-9">
                <div class="stock">
                    <div class="stock__title">При покупке комплектом дешевле:</div>
                    <div class="stock-block">
                        <div class="stock-block__item">
                            <img src="/uploads/mini/le/pb/ngq8r0fgiix9962hqyfxh8g2r815x3lkvl85opmilkk9aeyyx3iavz1dmnakjva7lwcuioq.jpg"
                                 alt="">
                            <div class="stock-item-desc">
                                <div class="stock-item-desc__title">Cовок пластиковый smart</div>
                                <span class="stock-item-desc__price-old">999 руб.</span>
                                <span class="stock-item-desc__price">399 руб.</span>
                            </div>
                        </div>
                        <span class="icon-mark">+</span>
                        <div class="stock-block__item">
                            <img src="/uploads/mini/8g/pd/nbwohtr8zvoehhepw16rcfek8bocechm57jvu1tojen8rwbglo4pazdhmikuzcfehblquaf.jpg"
                                 alt="">
                            <div class="stock-item-desc">
                                <div class="stock-item-desc__title">Cовок пластиковый smart</div>
                                <span class="stock-item-desc__price-old">999 руб.</span>
                                <span class="stock-item-desc__price">399 руб.</span>
                            </div>
                        </div>
                        <span class="icon-mark">=</span>
                        <div class="stock-block-total">
                            <div class="stock-item-desc">
                                <span class="total-sale">-30%</span>
                                <span class="stock-block-total__title">Цена за комплект: </span>
                                <span class="stock-item-desc__price-old">999 руб.</span>
                                <span class="stock-item-desc__price">399 руб.</span>
                                <button class="to-basket-total"><span>в корзину</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.stock-block -->
                <div class="shop_sort_button">
                    <ul class="sort_menu">
                        <li style="width: 200px;">
                            <span class="main_sort_link">
                                <p class="category-main-filter">
                                    <span v-if="current_filters.order">
                                        {{ current_filters.order.name }}
                                        <span v-if="current_filters.order.icon"><img :src="current_filters.order.icon"
                                                                                     alt=""></span>
                                    </span>
                                    <span><img src="/images/icon/angle.png" alt=""></span>
                                </p>
                            </span>
                            <ul class="sort_submenu">
                                <li v-for="order in filter_orders">
                                    <a class="main-filter-link" href="" @click.prevent="current_filters.order=order">
                                        <span v-if="order == current_filters.order"></span>
                                        {{ order.name }}
                                        <span v-if="order.icon"><img :src="order.icon" alt=""></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="" class="discount" style="width: 270px;"
                       :class="{ 'only-with-sale': current_filters.only_discount }"
                       @click.prevent="current_filters.only_discount=!current_filters.only_discount">Только
                        со скидкой %</a>
                    <p class="products_shown"> Показаны {{ products.from }}-{{ products.to }} из {{ products.total }}
                        товаров</p>
                </div>







                <div class="row items_center">
                    <div v-if="preloader === true" class="preloader_block">
                        <img src="/images/preloader_color.svg">
                    </div>
                    <div class="col-md-4 shop_item" v-for="(product, index) in products" v-if="preloader === false">
                        <div class="shop_item_favorite">
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 17.7936C9.71527 17.7936 9.44077 17.6904 9.22684 17.5031C8.41888 16.7966 7.63992 16.1327 6.95267 15.547L6.94916 15.544C4.93423 13.8269 3.19427 12.3441 1.98364 10.8833C0.630341 9.25034 0 7.70203 0 6.01059C0 4.36722 0.563507 2.8511 1.58661 1.74133C2.62192 0.618439 4.04251 0 5.58716 0C6.74164 0 7.79892 0.36499 8.72955 1.08475C9.19922 1.44806 9.62494 1.8927 10 2.41135C10.3752 1.8927 10.8008 1.44806 11.2706 1.08475C12.2012 0.36499 13.2585 0 14.413 0C15.9575 0 17.3782 0.618439 18.4135 1.74133C19.4366 2.8511 20 4.36722 20 6.01059C20 7.70203 19.3698 9.25034 18.0165 10.8832C16.8059 12.3441 15.0661 13.8268 13.0515 15.5437C12.363 16.1302 11.5828 16.7952 10.773 17.5034C10.5592 17.6904 10.2846 17.7936 10 17.7936ZM5.58716 1.17157C4.37363 1.17157 3.25882 1.65588 2.44781 2.5354C1.62476 3.42819 1.17142 4.66232 1.17142 6.01059C1.17142 7.43317 1.70013 8.70544 2.88559 10.1358C4.03137 11.5184 5.73563 12.9707 7.70889 14.6524L7.71255 14.6555C8.4024 15.2434 9.18442 15.9099 9.99832 16.6216C10.8171 15.9085 11.6003 15.2409 12.2916 14.6521C14.2647 12.9704 15.9688 11.5184 17.1146 10.1358C18.2999 8.70544 18.8286 7.43317 18.8286 6.01059C18.8286 4.66232 18.3752 3.42819 17.5522 2.5354C16.7413 1.65588 15.6264 1.17157 14.413 1.17157C13.524 1.17157 12.7078 1.45416 11.9872 2.01141C11.3449 2.50824 10.8975 3.13629 10.6352 3.57574C10.5003 3.80173 10.2629 3.93661 10 3.93661C9.73709 3.93661 9.49966 3.80173 9.36478 3.57574C9.10263 3.13629 8.65524 2.50824 8.01285 2.01141C7.29218 1.45416 6.47598 1.17157 5.58716 1.17157Z"
                                      fill="#FF876C"/>
                            </svg>
                        </div>
                        <div class="shop_item_sale_block">
                            <span class="sale_item sale_item_bg" v-if="product.price_discount !== null">
                                {{ 100 - Math.round(product.price_discount * 100/ product.price)  }}%
                            </span>
                            <span class="sale_item">Хит</span>
                        </div>
                        <a :href="getRouteProduct(product)">
                            <slick
                                    ref="slick"
                                    v-if="products.length"
                                    :options="slickOptions"
                            >

                                <img v-for="image in (product.current == null ? product.product_images : product.current.product_images)" :src=" '/uploads/mini/' + image.link" alt="" style="height: 360px;">

                            </slick>
                            <p class="shop_item_title">
                                {{ product.current == null ? product.name : product.current.name }}
                            </p>
                        </a>
                        <!--блок с оценкой-->
                        <div class="shop_item_star">
<!--                            <div class="stars-block">-->
<!--                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"-->
<!--                                     xmlns="http://www.w3.org/2000/svg" v-for="star in product.avg_rating" :key="star">-->
<!--                                    <path-->
<!--                                            d="M19.566 8.61048C19.9596 8.23005 20.0986 7.67172 19.9288 7.1527C19.7586 6.63368 19.3153 6.26318 18.7706 6.18455L13.9281 5.48683C13.7218 5.45705 13.5436 5.32878 13.4515 5.14333L11.2865 0.792626C11.0434 0.303787 10.5501 0 10.0002 0C9.45075 0 8.95736 0.303787 8.71427 0.792626L6.5489 5.14373C6.45679 5.32918 6.27818 5.45745 6.07193 5.48723L1.22938 6.18495C0.685131 6.26318 0.241404 6.63408 0.0712016 7.15309C-0.0986002 7.67211 0.040365 8.23045 0.434033 8.61088L3.9378 11.9974C4.08717 12.142 4.15566 12.35 4.12041 12.5534L3.29383 17.3353C3.22054 17.7563 3.33188 18.1657 3.6066 18.4885C4.03351 18.9917 4.7788 19.1449 5.3747 18.8344L9.70545 16.5765C9.88646 16.4823 10.1143 16.4831 10.2949 16.5765L14.6261 18.8344C14.8367 18.9444 15.0614 19 15.2933 19C15.7166 19 16.1179 18.8134 16.3938 18.4885C16.6689 18.1657 16.7799 17.7555 16.7066 17.3353L15.8796 12.5534C15.8443 12.3496 15.9128 12.142 16.0622 11.9974L19.566 8.61048Z"-->
<!--                                            fill="#FFD600"/>-->
<!--                                </svg>-->
<!--                            </div>-->
                            {{ product.count_comments }} {{ getNoun(product.count_comments, 'отзыв', 'отзыва', 'отзывов') }}
                        </div>
                        <!--  блок с атрибутами                   -->
                        <div class="shop_item_attr-wrap">
                            <div class="shop_item_attr">Производитель - {{ product.current == null ? product.country : product.current.country }}</div>
                            <div class="shop_item_attr">Комплект - 1 шт.</div>
                            <modification-component
                                    :pProduct="product"
                                    :pActiveModificationId="product.modification_id"
                                    :pRebuildSlick="rebuildSlick"
                                    :pIndex="index"
                            ></modification-component>
<!--                            <div>-->
<!--                                <div class="shop_item_attr-size">-->
<!--                                    <div class="attr_title">Размер - 40х40см</div>-->
<!--                                    <span class="shop_item-size shop_active-size">40x40</span>-->
<!--                                    <span class="shop_item-size">50x70</span>-->
<!--                                    <span class="shop_item-size">80x40</span>-->
<!--                                    <span class="shop_item-size">90x40</span>-->
<!--                                </div>-->
<!--                                <div class="shop_item_attr">-->
<!--                                    <div class="attr_title">Цвет:</div>-->
<!--                                    <span class="shop_item-color shop_active-color" style="background: #6197FF;"></span>-->
<!--                                    <span class="shop_item-color" style="background: #FF5454;"></span>-->
<!--                                    <span class="shop_item-color" style="background: #F4FF71;"></span>-->
<!--                                    <span class="shop_item-color" style="background: #FFB422;"></span>-->
<!--                                </div>-->
<!--                                <div class="shop_item_attr-size shop_item_attr-basis">-->
<!--                                    <div class="attr_title">Основа:</div>-->
<!--                                    <span class="shop_item-size shop_active-size">Гладкая</span>-->
<!--                                    <span class="shop_item-size">Шипованная </span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <!--  блок с атрибутами конец                   -->
                        <div class="product_fix_block">
                            <div class="shop_item_price-block">
                                <span v-if="(product.current == null ? product.price_discount : product.current.price_discount) !== null">
                                    <p class="shop_item_price-old"  style="font-size:10px;">{{ product.current == null ? Math.trunc(product.price) : Math.trunc(product.current.price) }} руб.</p>
                                    <p class="shop_item_price"  style="font-size:10px;">{{ product.current == null ? Math.trunc(product.price_discount) : Math.trunc(product.current.price_discount) }} руб.</p>
                                </span>
                                <span v-else>
                                    <p class="shop_item_price"  style="font-size:10px;">{{ product.current == null ? Math.trunc(product.price) : Math.trunc(product.current.price) }} руб.</p>
                                </span>
                            </div>
                            <!--                            <p class="shop_item_price" v-if="product.price_discount != null">-->
                            <!--                                {{ Math.trunc(product.price_discount) }}-->
                            <!--                                руб.-->
                            <!--                            </p>-->
                            <!--                            <p class="shop_item_price" v-else>{{ Math.trunc(product.price) }} руб.</p>-->
                            <!--                            <by-button-component :id="product.id"></by-button-component>-->
                            <!--                            new button-->
                            <!--                            При переходе на состояние оформления заказа добавить класс catalog-checkout -->
                            <button class="catalog_add_basket">
                                <div class="catalog_basket_count">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" v-on:click="decQuantityProduct(index)"
                                                type="button" id="button-addon1">
                                            <i class="fa fa-minus fa-2" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <input type="number" min="1" v-model="product.quantity" disabled="disabled">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" v-on:click="incQuantityProduct(index)"
                                                type="button" id="button-addon2">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <paginate-component :paginate="products" @eventComment="getProducts"-->
        <!--                            v-if="products.last_page !== 1 && preloader === false"-->
        <!--                            class_component="page_navigation"></paginate-component>-->
    </div>
</template>

<script>
    import Slick from 'vue-slick';
    import 'vue-slider-component/theme/material.css'
    // import FiltersComponent from "./FiltersComponent/FiltersComponent";
    // import PaginateComponent from "../PaginateComponent/PaginateComponent";
    import ModificationComponent from "../ModificationComponent/ModificationComponent";

    export default {
        data: () => ({
            slickOptions: {
                dots: false,
                infinite: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: false,
                nextArrow: false,
            },
            current_filters: {
                price_range: null,
                order: false,
                only_discount: false
            },
            products: {},
            filter_orders: [
                {
                    type: "byPopularity",
                    name: "По популярности"
                },
                {
                    type: "byPriceAsc",
                    name: "По цене",
                    icon: "/images/icon/arrow_top.png"
                },
                {
                    type: "byPriceDesc",
                    name: "По цене",
                    icon: "/images/icon/arrow_down.png",
                    sort: "desc"
                },
                {
                    type: "byNovelty",
                    name: "По новизне",
                    icon: "/images/icon/arrow_down.png"
                }
            ],
            preloader: true
        }),
        props: {
            slug: String
        },
        components: {
            // 'filters-component': FiltersComponent,
            // 'paginate-component': PaginateComponent
            ModificationComponent,
            Slick
        },
        mounted() {
            // this.current_filters.order = this.filter_orders[0];
            this.getProducts(1);
        },
        methods: {
            getProducts: function (page) {
                window.scrollTo({
                    top: 0,
                    // behavior: 'smooth'
                });
                this.preloader = true;
                let route_e = this.route("categories.products") + "?page=" + page;
                axios.get(route_e, {
                    params: {
                        slug: this.slug,
                        filters: {
                            order: this.current_filters.order,
                            only_discount: this.current_filters.only_discount,
                            price_range: this.current_filters.price_range
                        }
                    }
                })
                    .then(response => {
                        this.products = response.data;
                        this.preloader = false;
                    });
            },
            getRouteProduct: function (product) {
                let route_e = false;
                if (product.color != null && product.size != null) {
                    return this.route('products.page', {
                        'slug': product.slug,
                        'size': product.slug_size,
                        'color': product.slug_color
                    });
                } else if (product.size != null) {
                    return this.route('products.page', {
                        'slug': product.slug,
                        'size': product.slug_size
                    });
                } else if (product.color != null) {
                    return this.route('products.page', {
                        'slug': product.slug,
                        'size': 'default',
                        'color': product.slug_color
                    });
                } else {
                    return this.route('products.page', {
                        'slug': product.slug
                    });
                }
            },
            getNoun: function (number, one, two, five) {
                let n = Math.abs(number);
                n %= 100;
                if (n >= 5 && n <= 20) {
                    return five;
                }
                n %= 10;
                if (n === 1) {
                    return one;
                }
                if (n >= 2 && n <= 4) {
                    return two;
                }
                return five;
            },
            rebuildSlick: function(index) {
                this.$refs.slick[index].reSlick();
            }
        },
        watch: {
            current_filters: {
                deep: true,
                handler() {
                    this.getProducts(1);
                }
            }
        }
    };
</script>

<style lang="scss">
    @import '_CategoriesComponent.scss';
</style>

