.hidden_form {
    display: none;
}

/* .checkbox */
.slideTwo {
    width: 80px;
    height: 30px;
    background: white;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideTwo:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideTwo label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

.slideTwo label:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 6px;
    background: #0288d1;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}

.slideTwo input[type=checkbox] {
    visibility: hidden;
}

.slideTwo input[type=checkbox]:checked + label {
    left: 54px;
}

.slideTwo input[type=checkbox]:checked + label:after {
    background: #44a048;
}

/* end checkbox */
.form_element {
    margin-bottom: 5px !important;
}

.form_element input[type=file] {
    display: none;
}

.img-responsive {
    height: 80vh;
}

.cropper-img {
    display: flex;
    justify-content: center;
}

.cropper-toolbar {
    padding-left: 15px;
}

.panel .table-responsive {
    overflow: visible;
}

.promoFormWrap {
    display: flex;
    flex-flow: column;
}

.promocodeForm .form-horizontal .control-label {
    display: flex;
    justify-content: flex-end;
}

.promocodeForm .form-control, .promocodeForm .control-label {
    margin-top: 5px;
}

.promocodeForm input[type="checkbox"] {
    margin-top: 17px;
}

.promocodeForm .submitBtn {
    margin-top: 10px;
}

#images_list {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;

}

.listImg {
    display: flex;
    flex-flow: column-reverse;
    margin: 15px 15px 0 0;
    box-shadow: 0px 0px 5px 1px #00000021;
}

.listImg button {
    background: white;
    border: 1px solid white;
    border-top: 1px solid #e9e9e9;
    padding: 10px;
}

.listImg img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

/*Шапка*/
.navbar-default {
    background-color: #FF876C;
}

.layout-header {
    background-color: #FF876C;
}

.logo-admin-chisticot {
    width: 200px;
    margin-top: -12px;
}

.btn-primary {
    background-color: #FF876C;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 18px;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #fe876b;
    border-color: #fe876b;
}

.btn-warning:hover {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.btn-success {
    background-color: #fe876b;
    border-color: #fe876b;
}

.btn-success:hover {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.col-md-10 .col-sm-2 {
    width: 14%;
}

.btn-primary {
    border-color: #fe876b;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.sidenav > li.active > a {
    color: #fe876b;
}

.btn-primary:hover {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    background-color: #cc6b54;
    border-color: #cc6b54;
}

.form-horizontal .control-label {
    text-align: start;
}

.listImg {
    margin: 5px;
}

.select-file-button {
    margin-top: 18px;
}


/*Чекбокс*/
.label-for-admin input[type="checkbox"] {
    opacity: 0;
}

.label-for-admin label::before, .label-for-admin label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.label-for-admin label::before {
    height: 16px;
    width: 16px;
    border-radius: 10px;
    border: 2px solid #FF876C;
    box-sizing: border-box;
    left: 0;
    top: 2px;
    cursor: pointer;
}

.label-for-admin .control-label {
    /*margin-left: 24px !important;*/
    /*margin-bottom: -20px !important;*/
    font-weight: bolder;
}

.shift-checkbox1 {
    margin-top: -20px;
    margin-left: 140px;
}

.shift-checkbox {
    margin-top: 7px;
}

.label-for-admin label::after {
    height: 8px;
    width: 13px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 1px;
    top: 1px;
}

.label-for-admin input[type="checkbox"] + label::after {
    content: none;
}

.label-for-admin input[type="checkbox"]:checked + label::after {
    content: "";
}

.shift-select-img {
    margin-top: 18px;
}

.shift-img-left {
    padding: 5px 10px;
    font-size: 15px;
}

.shift-products {
    text-align: end !important;
}

.shift-checkbox2 {
    margin-left: 220px;
}

.select_tagify {
    color: red;
    font-weight: bold;
}

.products_color {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.modifications {
    background: none!important;
    border: none!important;
}

.modifications a {
    display: inline-block;
    margin: 5px;
}
