.ByOneClickComponent {
    // Vars

    // Support

    // Module
    h3 {
        margin-bottom: 25px;
    }
    .quantity_block {
        display: flex;
    }
    .checkout_form {
        margin-bottom: 25px;
    }
    .checkout_form label {
        color: black;
    }
    .checkout_form input {
        color: black;
    }
    .checkout_input input[type="text"]::-webkit-input-placeholder{
        color:gray!important;
    }

    .checkout_input {
        border-bottom: 1px solid #FF876C;
    }

    .quantity_btn {
        border: 1px solid #FF876C;
        color: #FF876C;
        font-family: Montserrat;
        width: 40px;
        height: 40px;
        overflow: hidden;
        text-align: center;
        background: white;
    }
    .quantity_btn:hover {
        background: #FF876C;
        color: white;
        border: 1px solid white;
    }

    .quantity_input {
        text-align: center;
        width: 60px;
        height:40px;
        padding-left: 1.2vh;
        user-select: none;
    }

    .form_radio label:before {
        width: 18px;
        height: 18px;
        border: 2px solid #FF876C;
        border-radius: 50px;
    }
    .form_radio input[type=radio]:checked + label:before {
        background: url("/images/icon/radio-2.png") center center no-repeat;
    }

    .checkout_button_second_column-modal-buyOneClick a {
        width: 300px;
        display: inline-block;
        height: 60px;
    }

    .bg_white {
        background: white!important;
    }

    .checkout_button_second_column-modal-buyOneClick {
        padding-top: 30px;
    }

    // Facets

    // States
}
