<template>
    <div class="ByOneClickComponent">
        <a href="" class="buyOneClick one_click" v-on:click.prevent="showByOneClick">Купить в 1 клик</a>

        <modal name="hello-world" width="90%" height="725"
               :classes="['v--modal-custom', 'v--modal', 'v--modal-basket']">
            <span @click="$modal.hide('hello-world')" class="close"></span>
            <h3 class="modal-title">Купить в 1 клик</h3>
            <div>
                <div class="good-modal-buyOneClick">
                    <img :src="'/uploads/mini/' + product.product_images[0].link" class="prod-modal-buyOneClick">
                    <div class="oneClick_area">
                        <div class="name-prod-modal-buyOneClick">{{ product.name }}</div>
                        <p>
                            Количество:
                            <span class="quantity_block">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary quantity_btn"
                                            v-on:click="decQuantityProduct"
                                            type="button" id="button-addon1">
                                        <i class="fa fa-minus fa-2" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input type="number" min="1" v-model="by_one_click.quantity" class="quantity_input"
                                       disabled="disabled">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary quantity_btn"
                                            v-on:click="incQuantityProduct"
                                            type="button" id="button-addon2">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </span>
                        </p>
                        <p>Цена: <span id="price_one_click">{{ getPrice() }}</span> руб.</p>
                    </div>
                </div>

                <div class="checkout_form">
                    <input type="hidden" id="actual_price" value="960.00">
                    <div class="checkout_input">
                        <label for="name_input-modal-buyOneClick">Фамилия</label>
                        <input type="text" placeholder="Петров" v-model="by_one_click.second_name" id="name_input-modal-buyOneClick"
                               value=" ">
                    </div>

                    <div class="checkout_input">
                        <label for="name_input-modal-buyOneClick2">Имя</label>
                        <input type="text" placeholder="Денис" v-model="by_one_click.name" id="name_input-modal-buyOneClick2" value=" ">
                    </div>

                    <div class="checkout_input">
                        <label for="phone_input-modal-buyOneClick"
                               id="phone_input_label-modal-buyOneClick">Телефон</label>
                        <input type="text" v-model="by_one_click.phone" placeholder="+7 999 888 7766" id="phone_input-modal-buyOneClick">
                    </div>

<!--                    <div class="checkout_input">-->
<!--                        <label for="email_input-modal-buyOneClick">E-mail</label>-->
<!--                        <input type="text" placeholder="email@mail.ru" v-model="by_one_click.email" id="email_input-modal-buyOneClick" value="">-->
<!--                    </div>-->

                    <div class="checkout_input">
                        <label> Способ доставки:</label>
                        <v-select label="name" :options.sync="delivery_types"
                                  v-model="selected_delivery_type"
                        ></v-select>
                    </div>

                    <div class="shipping">
                        <h3>Способ оплаты</h3>
                        <div class="form_radio" v-for="(payment_type, index) in payment_types">
                            <input name="payment_type_id" :id="'radio-' + index" type="radio"
                                   :value="index"
                                   :checked="activePayment(payment_type)"
                                   v-model="by_one_click.payment_type_id"
                            >
                            <label :class="'far ' + payment_type.class"
                                   :for="'radio-' + index">{{ payment_type.name }}</label>
                        </div>
                    </div>
                </div>


                <div class="checkout_button">
                    <div class="checkout_button_first_column">
                        <div class="checkbox_order">
                            <input type="checkbox" id="checkbox_order" v-model="by_one_click.agree">
                            <label for="checkbox_order">Нажимая на кнопку «Оформить заказ», вы принимаете
                                условия Публичной оферты</label>
                        </div>
                    </div>
                </div>

                <div class="checkout_button_second_column-modal-buyOneClick">
                    <a href=""  v-on:click.prevent="byOneClick" v-bind:class="{ bg_white: preloader }">
                        <span v-if="preloader === false">
                            Оформить
                        </span>
                        <img src="/images/preloader_color.svg" v-if="preloader === true">
                    </a>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    import 'vue-select/dist/vue-select.css';

    export default {
        data: () => ({
            by_one_click: {
                quantity: 1,
                agree: false,
                delivery_type_id: false,
                payment_type_id: 0,
                phone: null,
                name: null,
                second_name: null
            },
            selected_delivery_type: {},
            preloader: false
        }),
        props: {
            product: {
                type: Object
            },
            delivery_types: {
                type: Array
            },
            payment_types: {
                type: Array
            }
        },
        methods: {
            showByOneClick: function () {
                this.$modal.show('hello-world');
            },
            getPrice: function () {
                if (this.product.price_discount) {
                    return this.by_one_click.quantity * this.product.price_discount;
                } else {
                    return this.by_one_click.quantity * this.product.price;
                }
            },
            incQuantityProduct: function () {
                if (this.product.quantity < this.by_one_click.quantity + 1) {
                    return;
                }
                this.by_one_click.quantity++;
            },
            decQuantityProduct: function () {
                if (this.by_one_click.quantity < 2) {
                    return;
                }
                this.by_one_click.quantity--;
            },
            activePayment: function (payment) {
                return payment.class === "money_icon";
            },
            byOneClick: function () {
                this.by_one_click.delivery_type_id = this.selected_delivery_type.id;
                this.by_one_click.product_id = this.product.id;
                let route_e = this.route("orders.by_one_click");
                this.preloader = true;
                axios.post(route_e, this.by_one_click)
                    .then(response => {
                        this.$swal.fire({
                            title: 'Ваш заказ принят!',
                            type: 'success',
                            showCancelButton: true,
                            cancelButtonText: 'Закрыть',
                            showConfirmButton: false,
                            html: `<div class="basket_checkout_success">
                                    <div>Номер заказа ${response.data.order_number}</div>
                                    <div>Сумма заказа: ${response.data.total_price}</div>
                                    <div>Способ оплаты: ${response.data.payment_type}</div>
                                   </div>`
                        });
                        this.preloader = false;
                        // this.yandex_ym();
                    }).catch((error) => {
                    this.$swal.fire({
                        title: 'Ошибка',
                        type: 'error',
                        text: error.response.data.mess
                    });
                    this.preloader = false;
                });
            }
        },
        mounted() {
            this.selected_delivery_type = this.delivery_types[2];
        }
    };
</script>
<style lang="scss">
    @import '_ByOneClickComponent.scss';
</style>
