<template>
    <div class="RegisterComponent">
        <h3 class="modal-title">Регистрация</h3>
        <div class="modal-body">
            <input class="call-back-form form-control" v-model="user.name" required autocomplete="name" autofocus
                   placeholder="Имя">

            <input class="call-back-form form-control" v-model="user.second_name" required autocomplete="second_name"
                   autofocus
                   placeholder="Фамилия">

            <input id="email" type="email" v-model="user.email" class="call-back-form form-control" required
                   autocomplete="email"
                   placeholder="Email">

            <input id="password" type="password" v-model="user.password" class="call-back-form form-control" required
                   autocomplete="new-password" placeholder="Пароль">

            <input id="password-confirm" type="password" v-model="user.password_confirmation"
                   class="call-back-form form-control" required
                   autocomplete="new-password" placeholder="Еще раз пароль">
        </div>

        <div>
            <button class="btn-modal reg" v-on:click="register()">
                <span v-if="preloader === false">
                    Регистрация
                </span>
                <img src="/images/preloader_w.svg" v-if="preloader === true">
            </button>
            <a class="login-site" href="#" v-on:click="loginForm($event)">Войти на сайт</a>
        </div>

        <span @click="$emit('close')" class="close"></span>
    </div>
</template>

<script>
    export default {
        data: () => ({
            user: {
                name: null,
                second_name: null,
                email: null,
                password: null,
                password_confirmation: null
            },
            preloader: false
        }),
        props: {
            methods: {
                type: Object
            }
        },
        methods: {
            register: function () {
                let route_e = this.route("register");
                this.preloader = true;
                axios.post(route_e, this.user)
                    .then((response) => {
                        this.preloader = false;
                        this.$swal.fire(
                            'Регистрация',
                            'Вы успешно зарегистрировались!',
                            'success'
                        );
                        this.$emit('close');
                    }).catch((error) => {
                        this.preloader = false;
                        let key = Object.keys(error.response.data.errors)[0];
                        this.$swal.fire(
                            'Регистрация',
                            error.response.data.errors[key][0],
                            'error'
                        );
                    });
            },
            loginForm: function (e) {
                e.preventDefault();
                this.$emit('close');
                this.methods.loginForm();
            }
        }
    };
</script>
