<template>
    <div class="CommentsComponent">
        <div class="review" v-for="comment in comments.data">
            <div class="review-title-name">
                <p class="client-name">{{ comment.name }}</p>
                <p class="date-reviev">• {{ comment.created_at }} •</p>
                <p class="star">
                    <img src="/images/star.png" v-for="i in comment.rating">
                </p>
            </div>
            <div class="review-title">{{ comment.title }}</div>
            <div class="review-desc">
                {{ comment.comment }}
            </div>
        </div>

        <paginate-component :paginate="comments" @eventComment="getComment"
                            v-if="comments.last_page !== 1"
                            class_component="page_navigation-review"></paginate-component>

        <div class="category__block">
            <div class="my-review">
                <h2>Оставьте свой отзыв</h2>
                <div class="my-review-row">
                    <div class="rating my-star">
                        <input type="radio" id="star5" name="rating" v-model="new_comment.rating" value="5"/><label
                        for="star5" title="5"></label>
                        <input type="radio" id="star4" name="rating" v-model="new_comment.rating" value="4"/><label
                        for="star4" title="4"></label>
                        <input type="radio" id="star3" name="rating" v-model="new_comment.rating" value="3"/><label
                        for="star3" title="3"></label>
                        <input type="radio" id="star2" name="rating" v-model="new_comment.rating" value="2"/><label
                        for="star2" title="2"></label>
                        <input type="radio" id="star1" name="rating" v-model="new_comment.rating" value="1"/><label
                        for="star1" title="1"></label>
                    </div>
                    <input type="text" placeholder="Заголовок" v-model="new_comment.title">
                    <input type="text" placeholder="Как вас зовут?" v-if="!check_auth" v-model="new_comment.name">
                </div>

                <textarea placeholder="Напишите пару строк о товаре" v-model="new_comment.comment"></textarea>
                <div id="sent-review">
                    <button v-on:click="sendComment">
                        <span v-if="preloader === false">
                            Отправить
                        </span>
                        <img src="/images/preloader_color.svg" v-if="preloader === true">
                    </button>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import PaginateComponent from "../PaginateComponent/PaginateComponent";

    export default {
        data: () => ({
            comments: {
                data: {}
            },
            check_auth: false,
            new_comment: {},
            preloader: false
        }),
        props: {
            product_id: Number
        },
        mounted() {
            this.getComment(1);
        },
        methods: {
            sendComment: function (event) {
                this.preloader = true
                let route_e = this.route("comments.store", {"product_id": this.product_id});
                this.new_comment["product_id"] = this.product_id;
                axios.post(route_e, this.new_comment)
                    .then(response => {
                        this.$swal.fire(
                            'Успех',
                            response.data.mess,
                            'success'
                        );
                        this.new_comment = {};
                        this.preloader = false;
                    }).catch((error) => {
                        this.$swal.fire(
                            'Ошибка',
                            error.response.data.mess,
                            'error'
                        );
                        this.preloader = false;
                    })
            },
            getComment: function (page) {
                let route_e = this.route("comments.index", {"product_id": this.product_id}) + "?page=" + page;
                axios.get(route_e)
                    .then(response => {
                        this.comments = response.data.comments;
                        this.check_auth = response.data.check_auth;
                    });
            }
        },
        components: {
            'paginate-component': PaginateComponent
        }
    };
</script>

<style lang="scss">
    @import 'CommentListComponent';
</style>
