.MainSliderComponent {
    // Vars

    // Support

    // Module
    & {
        overflow: hidden;
        outline: none;
    }

    img {
        display: block;
        width: 100%;
        max-height: 606px;
        object-fit: cover;
    }

    .carousel-caption {
        bottom: 30%;
        position: absolute;
        left: 19%;
    }

    .slider_wrap {
        position: relative;
    }
    .main__slider-text {
        width: 580px;
        text-align: left;
    }
    .main__slider-text a{
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-family: Montserrat;
        display: inline-block;
        outline: none;
    }

    .main__slider-text img{
        max-width: 5px;
        height: 16px;
        margin-left: 5px;
        margin-top: 4px;
    }
    .main__slider-text h5{
        text-align: left;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 24px;
        color: #FFFFFF;
        font-family: Montserrat;
    }
    .main__slider-text p{
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Playfair Display;
    }
    .main__slider-text a p{
        display: flex;
    }

    // Facets

    // States
}
