<template>
    <div class="MainSliderComponent">
        <slick
            ref="slick"
            :options="slickOptions"
        >
            <div v-for="slide in slides" class="slider_wrap">
                <div class="carousel-caption">
                    <div class="main__slider-text">
                        <h5>{{ slide.name }}</h5>
                        <p>{{ slide.description }}</p>
                        <a :href="slide.link">
                            <p>
                            перейти
                                <img src="https://chistokot2.webdobro.ru/images/a-main-slider.png" alt="">
                            </p>
                        </a>
                    </div>
                </div>
                <img :src="'/uploads/standard/' + slide.image" alt="">
            </div>
        </slick>
    </div>
</template>

<script>
    import Slick from 'vue-slick';

    export default {
        data() {
            return {
                slickOptions: {
                    slidesToShow: 1,
                    dots: false,
                    prevArrow: false,
                    nextArrow: false
                },
            };
        },
        props: {
            slides: {
                type: Array,
                default: []
            }
        },
        mounted(){
            console.log(this.slides);
        },
        components: {
            Slick
        }
    };
</script>

<style lang="scss">
    @import '_MainSliderComponent.scss';
</style>
