.BasketComponent {
    // Vars

    // Support

    // Module
    .by_products_basket_button button{
        width: 280px;
        text-transform:none;
        height: 54px;
    }
    .white_bg {
        background: white!important;
    }
    .width_150 {
        width: 150px;
    }
    .width_165 {
        width: 165px;
    }
    .width_120 {
        width: 120px;
    }
    .width_50 {
        width: 50px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
    input:disabled {
        background: white;
        border: none;
        //border-top: 1px solid #FF876C;
        //border-bottom: 1px solid #FF876C;
        color: black;
    }

    .basket_title {
        font-family: Montserrat;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-bottom: 1px solid #b5b5b5;
        padding-bottom: 20px;
        text-align: center;
    }

    .table td, .table th {
        border-top: none;
    }

    .table td {
        font-family: Montserrat;
        vertical-align: middle;
    }

    .table thead th {
        border-bottom: 1px solid #b5b5b5;
    }

    .table .img_wrap {
        text-align: center;
        display: block;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .table .img_wrap img {
        object-fit: cover;
        width: 100px;
        height: 100px;
    }

    .table button {
        //border: 1px solid #FF876C;
        border: none;
        color: #FF876C;
        font-family: Montserrat;
        //width: 40px;
        //height: 40px;
        width: 25px;
        height: 36px;
        overflow: hidden;
        text-align: center;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table button:hover {
        background: #FF876C;
        //border: 1px solid #FF876C;
    }

    .table .input-group input {
        //width: 60px;
        //height:40px;
        width: 25px;
        height: 36px;
        text-align: center;
        user-select: none;
    }
    .full_price {
        text-align: right;
        padding-top: 20px;
        font-size: 25px;
        font-family: Montserrat;
    }
    .full_price span {
        display: inline-block;
        padding-left: 20px;
    }
    .checkout_button_second_column button {
        width: 330px;
        text-transform: uppercase;
        margin: 5px;
    }
    .return_basket {
        background: #FF876C!important;
        color: white!important;
    }
    .return_basket:hover{
        background: white!important;
        color: #FF876C!important;
    }
    .center_basket_button {
        text-align:center!important;
        margin-top:35px;
    }
    .checkout_price .name_block {
        color: white;
        text-transform: uppercase;
        font-family: Montserrat;
        margin-left: 45px;
        margin-top: 25px;
    }
    .shipping {
        margin-top: 50px;
    }
    .checkout {
        margin-top: 20px;
    }
    .promocode input {
        border-bottom: 1px solid grey;
    }
    .info_block {
        border-top: 1px solid #b5b5b5;
        margin-right: 0px;
        margin-left: 0px;
    }
    .btn-outline-secondary:hover {
        color: white;
    }
    .scroll-area {
        position: relative;
        margin: auto;
        width: 100%;
        max-height: 355px;
    }
    .empty_basket {
        color: white;
        font-size:18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
    }
    // Новые стили корзины
    margin-bottom: 100px;
    max-width: 100%;
    .upsale {
        &__title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.9);
        }

        &-products {
            display: flex;
            flex-wrap: wrap;
        }
        &-product {
            max-width: 148px;
            margin-right: 13px;
            font-family: Montserrat;
            &__image {
                margin-bottom: 15px;
                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.9);
            }
            p {
                font-family: Playfair Display;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.7);
            }
            &__addtobasket {
                background: #FF876C;
                border-radius: 3px;
                border: none;
                font-size: 15px;
                min-height: 39px;
                display: inline-block;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            &-price {
                margin-bottom: 20px;
            }
            &__price-old {
                display: block;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                letter-spacing: 0.05em;
                text-decoration-line: line-through;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.7);
            }
            &__price {
                display: block;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.05em;
                font-weight: 700;
            }
        }
    }
    .basket_full {
        &__price-old {
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;
            text-decoration-line: line-through;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.7);
        }
        &_price {
            padding: 4px 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.7);
        }
        &_count {
            padding: 4px 0;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
        }
        &_price-block {
            text-align: left;
            font-family: Montserrat;
        }
        &_title {
            display: block;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.9)
        }
    }
    .close {
        &::before,&::after {
            display: none;
        }
    }
    .input-group-wrap {
        border: 1px solid #FF876C;
        border-radius: 5px;
        height: 38px;
        width: 75px;
    }
    .product-name-cell {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        max-width: 270px;
    }
    .img_wrap{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 3px;
    }
    .table tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .table td, .table th {
        padding: .75rem 0;
    }
    .full-price {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
    }
    .table {
        font-family: Montserrat;
        .price {
            &-old {
                display: block;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                text-decoration-line: line-through;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.7);
            }
            &-new {
                display: block;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #000;
            }
        }
    }
    // Facets

    // States
}
.width100 {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .BasketComponent {
        .table {
            .price-old,.price-new, .full-price, .product-name-cell {
                font-size: 15px;
                line-height: 17px;
            }
            td, th {
                padding: 0.75rem 1rem;
            }
        }
    }
    .basket_full_price-block {
        margin-bottom: 30px;
    }
}
