<template>
    <div class="BasketComponent">
        <span @click="$emit('close')" class="close" v-if="is_modal === true"></span>
        <div v-if="is_loaded === true && products.length">
            <div class="basket_checkout" v-if="is_modal === true">
                <h3 class="basket_title">В вашей корзине {{ products.length }} товаров</h3>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <vue-custom-scrollbar class="scroll-area">
                    <table class="table">
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">Фото12</th>-->
<!--                            <th scope="col">Наименование</th>-->
<!--                            <th scope="col" class="width_165">Количество</th>-->
<!--                            <th scope="col" class="width_120">Цена</th>-->
<!--                            <th scope="col" class="width_120">Сумма</th>-->
<!--                            <th scope="col" class="width_50"></th>-->
<!--                        </tr>-->
<!--                        </thead>-->
                        <tbody>
                        <tr v-for="(product, index) in products">
                            <th scope="row">
                                <div class="img_wrap">
                                    <img v-if="product.product_images" :src="'/uploads/mini/' + product.product_images[0].link">
                                </div>
                            </th>
                            <td class="product-name-cell">
                                {{ product.name }}
                                {{ product.size }}
                                {{ product.color }}
                            </td>
                            <td>
                                <div class="input-group input-group-wrap">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary btn-decrement" v-on:click="decQuantityProduct(index)"
                                                type="button" id="button-addon1">
                                            <i class="fa fa-minus fa-2" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <input type="number" min="1" v-model="product.quantity" disabled="disabled">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary btn-increment" v-on:click="incQuantityProduct(index)"
                                                type="button" id="button-addon2">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="price-old">1000 РУБ.</span>
                                <span class="price-new">{{ product.price_discount != null ? Math.floor(product.price_discount) :
                                Math.floor(product.price)
                                }}
                                РУБ.</span>
                            </td>
                            <td class="full-price">
                                {{ product.price_discount != null ? product.price_discount * product.quantity :
                                product.price *
                                product.quantity }}
                                РУБ.
                            </td>
                            <td>
                            <span class="" v-on:click="delProduct(index, product.id)"><svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.42857 20.8436C1.42857 21.4154 1.65434 21.9639 2.0562 22.3683C2.45806 22.7726 3.00311 22.9998 3.57143 22.9998H16.4286C16.9969 22.9998 17.5419 22.7726 17.9438 22.3683C18.3457 21.9639 18.5714 21.4154 18.5714 20.8436V5.74982H1.42857V20.8436ZM13.5714 9.34357C13.5714 9.15295 13.6467 8.97013 13.7806 8.83534C13.9146 8.70055 14.0963 8.62482 14.2857 8.62482C14.4752 8.62482 14.6568 8.70055 14.7908 8.83534C14.9247 8.97013 15 9.15295 15 9.34357V19.4061C15 19.5967 14.9247 19.7795 14.7908 19.9143C14.6568 20.0491 14.4752 20.1248 14.2857 20.1248C14.0963 20.1248 13.9146 20.0491 13.7806 19.9143C13.6467 19.7795 13.5714 19.5967 13.5714 19.4061V9.34357ZM9.28571 9.34357C9.28571 9.15295 9.36097 8.97013 9.49492 8.83534C9.62888 8.70055 9.81056 8.62482 10 8.62482C10.1894 8.62482 10.3711 8.70055 10.5051 8.83534C10.639 8.97013 10.7143 9.15295 10.7143 9.34357V19.4061C10.7143 19.5967 10.639 19.7795 10.5051 19.9143C10.3711 20.0491 10.1894 20.1248 10 20.1248C9.81056 20.1248 9.62888 20.0491 9.49492 19.9143C9.36097 19.7795 9.28571 19.5967 9.28571 19.4061V9.34357ZM5 9.34357C5 9.15295 5.07525 8.97013 5.20921 8.83534C5.34316 8.70055 5.52485 8.62482 5.71429 8.62482C5.90373 8.62482 6.08541 8.70055 6.21936 8.83534C6.35332 8.97013 6.42857 9.15295 6.42857 9.34357V19.4061C6.42857 19.5967 6.35332 19.7795 6.21936 19.9143C6.08541 20.0491 5.90373 20.1248 5.71429 20.1248C5.52485 20.1248 5.34316 20.0491 5.20921 19.9143C5.07525 19.7795 5 19.5967 5 19.4061V9.34357ZM19.2857 1.43732H13.9286L13.5089 0.597286C13.42 0.417694 13.2831 0.266626 13.1135 0.161076C12.944 0.0555253 12.7485 -0.000319127 12.5491 -0.000175229H7.44643C7.24749 -0.000944765 7.05236 0.0546915 6.8834 0.160359C6.71443 0.266027 6.57846 0.417452 6.49107 0.597286L6.07143 1.43732H0.714286C0.524845 1.43732 0.343164 1.51305 0.209209 1.64784C0.0752549 1.78263 0 1.96545 0 2.15607L0 3.59357C0 3.7842 0.0752549 3.96702 0.209209 4.10181C0.343164 4.2366 0.524845 4.31233 0.714286 4.31233H19.2857C19.4752 4.31233 19.6568 4.2366 19.7908 4.10181C19.9247 3.96702 20 3.7842 20 3.59357V2.15607C20 1.96545 19.9247 1.78263 19.7908 1.64784C19.6568 1.51305 19.4752 1.43732 19.2857 1.43732Z" fill="#FF876C"/>
</svg>
</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </vue-custom-scrollbar>
                </div>
                <div class="col-md-3">
                    <div class="basket_full_price-block">
                        <span class="basket_full_title">Итого</span>
                        <span class="basket_full_count">3 ТОВАРА 2,5КГ</span>
                        <div class="basket_full_price">
                            <span class="basket_full__price-old">999 руб.</span>
                            <span class="basket_full__price">599 руб.</span>
                        </div>
                        <button class="upsale-product__addtobasket">Перейти к оформлению</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="upsale-block" v-if="is_modal === false">
                        <h3 class="upsale__title">Полезные мелочи к вашей покупке:</h3>
                        <div class="upsale-products">
                            <div class="upsale-product">
                                <div class="upsale-product__image">
                                    <img src="/uploads/mini/bh/mz/x7m9n4rff8xsrkmkjnrt9pq2becm1tbobhluoohfvmm8oeajy02dkipbwiomxssrevi3m7s.jpg" alt="">
                                </div>
                                <a href="#">
                                    <h4 class="upsale-product__title">набор ЩЕТОК</h4>
                                    <p>К товару “Щетка "Бытовая" - Sweepa</p>
                                </a>
                                <div class="upsale-product-price">
                                    <span class="upsale-product__price-old">999 руб.</span>
                                    <span class="upsale-product__price">599 руб.</span>
                                </div>
                                <button class="upsale-product__addtobasket">Добавить</button>
                            </div>
                            <div class="upsale-product">
                                <div class="upsale-product__image">
                                    <img src="/uploads/mini/bh/mz/x7m9n4rff8xsrkmkjnrt9pq2becm1tbobhluoohfvmm8oeajy02dkipbwiomxssrevi3m7s.jpg" alt="">
                                </div>
                                <a href="#">
                                    <h4 class="upsale-product__title">набор ЩЕТОК</h4>
                                    <p>К товару “Щетка "Бытовая" - Sweepa</p>
                                </a>
                                <div class="upsale-product-price">
                                    <span class="upsale-product__price-old">999 руб.</span>
                                    <span class="upsale-product__price">599 руб.</span>
                                </div>
                                <button class="upsale-product__addtobasket">Добавить</button>
                            </div>
                            <div class="upsale-product">
                                <div class="upsale-product__image">
                                    <img src="/uploads/mini/bh/mz/x7m9n4rff8xsrkmkjnrt9pq2becm1tbobhluoohfvmm8oeajy02dkipbwiomxssrevi3m7s.jpg" alt="">
                                </div>
                                <a href="#">
                                    <h4 class="upsale-product__title">набор ЩЕТОК</h4>
                                    <p>К товару “Щетка "Бытовая" - Sweepa</p>
                                </a>
                                <div class="upsale-product-price">
                                    <span class="upsale-product__price-old">999 руб.</span>
                                    <span class="upsale-product__price">599 руб.</span>
                                </div>
                                <button class="upsale-product__addtobasket">Добавить</button>
                            </div>
                            <div class="upsale-product">
                                <div class="upsale-product__image">
                                    <img src="/uploads/mini/bh/mz/x7m9n4rff8xsrkmkjnrt9pq2becm1tbobhluoohfvmm8oeajy02dkipbwiomxssrevi3m7s.jpg" alt="">
                                </div>
                                <a href="#">
                                    <h4 class="upsale-product__title">набор ЩЕТОК</h4>
                                    <p>К товару “Щетка "Бытовая" - Sweepa</p>
                                </a>
                                <div class="upsale-product-price">
                                    <span class="upsale-product__price-old">999 руб.</span>
                                    <span class="upsale-product__price">599 руб.</span>
                                </div>
                                <button class="upsale-product__addtobasket">Добавить</button>
                            </div>
                            <div class="upsale-product">
                                <div class="upsale-product__image">
                                    <img src="/uploads/mini/bh/mz/x7m9n4rff8xsrkmkjnrt9pq2becm1tbobhluoohfvmm8oeajy02dkipbwiomxssrevi3m7s.jpg" alt="">
                                </div>
                                <a href="#">
                                    <h4 class="upsale-product__title">набор ЩЕТОК</h4>
                                    <p>К товару “Щетка "Бытовая" - Sweepa</p>
                                </a>
                                <div class="upsale-product-price">
                                    <span class="upsale-product__price-old">999 руб.</span>
                                    <span class="upsale-product__price">599 руб.</span>
                                </div>
                                <button class="upsale-product__addtobasket">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="row info_block">-->
<!--                <div class="promocode col" v-if="is_modal === false">-->
<!--                    <label for="promocode_input">Промокод:</label>-->
<!--                    <input type="text" name="promocode" id="promocode_input" v-model="basket.promocode">-->
<!--                </div>-->
<!--                <div class="full_price col">-->
<!--                    Итого-->
<!--                    <span>-->
<!--                    {{ totalPrice() }} РУБ.-->
<!--                </span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="checkout_button_second_column center_basket_button" v-if="is_modal === true">
                <a class="return_basket" @click="$emit('close')">Продолжить покупки</a>
                <a :href="route('baskets.index')">Перейти в корзину</a>
            </div>

<!--            <div class="checkout" v-if="is_modal === false">-->
<!--                <div class="checkout_price">-->
<!--                    <div class="checkout_form_first_column">-->
<!--                        <div class="checkout_input">-->
<!--                            <label for="phone_input" id="phone_input_label">Телефон:</label>-->
<!--                            <input type="tel" name="phone" placeholder="" id="phone_input" v-model="basket.phone">-->
<!--                        </div>-->
<!--                        <div class="checkout_input">-->
<!--                            <label for="city_input">Адрес:</label>-->
<!--                            <input type="text" name="address" placeholder="" id="city_input" v-model="basket.address">-->
<!--                        </div>-->
<!--                        <div class="checkout_input">-->
<!--                            <label for="check_shipping_input">-->
<!--                                Способ доставки:-->
<!--                            </label>-->
<!--                            <div class="dropdown bootstrap-select" id="check_shipping_input">-->
<!--                                <v-select label="name" :options.sync="delivery_types"-->
<!--                                          v-model="selected_delivery_type"-->
<!--                                ></v-select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="shipping">-->
<!--                            <h3>Способ оплаты</h3>-->
<!--                            <div class="form_radio" v-for="(payment_type, index) in payment_types">-->
<!--                                <input name="payment_type_id" :id="'radio-' + index" type="radio"-->
<!--                                       :value="index"-->
<!--                                       :checked="activePayment(payment_type)"-->
<!--                                       v-model="basket.payment_type_id"-->
<!--                                >-->
<!--                                <label :class="'far ' + payment_type.class"-->
<!--                                       :for="'radio-' + index">{{ payment_type.name }}</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="checkout_form_second_form">-->
<!--                        <div class="checkout_input">-->
<!--                            <label for="first_name_input">-->
<!--                                Имя:</label>-->
<!--                            <input type="text" name="name" id="first_name_input" v-model="basket.name">-->
<!--                        </div>-->

<!--                        <div class="checkout_input">-->
<!--                            <label for="second_name_input">Фамилия:</label>-->
<!--                            <input type="text" name="second_name" id="second_name_input" v-model="basket.second_name">-->
<!--                        </div>-->
<!--                        <div class="checkout_input">-->
<!--                            <label for="email_input">E-mail:</label>-->
<!--                            <input type="text" name="email" id="email_input" v-model="basket.email">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="checkout_button">-->
<!--                    <div class="checkout_button_first_column">-->
<!--                        <div class="checkbox_order">-->
<!--                            <input type="checkbox" id="checkbox_order" v-model="basket.agree">-->
<!--                            <label for="checkbox_order">Нажимая на кнопку «Оформить заказ», вы принимаете-->
<!--                                условия Публичной оферты</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="checkout_button_second_column by_products_basket_button">-->
<!--                        <button v-on:click="byProducts()" :class="{'white_bg': preloader}">-->
<!--                        <span v-if="preloader === false">-->
<!--                            Оформить заказ-->
<!--                        </span>-->
<!--                            <img src="/images/preloader_color.svg" v-if="preloader === true">-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>


        <div class="checkout" v-if="is_loaded === true && !products.length">
            <div class="checkout_price empty_basket">
                К сожалению Ваша корзина пуста!
            </div>
        </div>

        <div align="center" v-if="is_loaded === false">
            <img src="/images/preloader_color.svg">
        </div>
    </div>
</template>

<script>
    import 'vue-select/dist/vue-select.css';
    import vueCustomScrollbar from 'vue-custom-scrollbar';
    import {EventBus} from '../../app';

    export default {
        data: () => ({
            preloader: false,
            products: [],
            basket: {
                delivery_type_id: 2,
                payment_type_id: 0,
                name: null,
                second_name: null,
                phone: null,
                address: null,
                agree: false,
                email: null,
                promocode: null
            },
            selected_delivery_type: {},
            payment_types: [],
            delivery_types: [],
            is_loaded: false
        }),
        props: {
            is_modal: {
                default: false
            }
        },
        methods: {
            getData: function () {
                let route_e = this.route("baskets.get_data");
                axios.get(route_e, this.basket)
                    .then((response) => {
                        this.products = response.data.products;
                        this.delivery_types = response.data.delivery_types;
                        this.payment_types = response.data.payment_types;
                        this.basket.name = response.data.name;
                        this.basket.second_name = response.data.second_name;
                        this.basket.email = response.data.email;

                        this.selected_delivery_type = this.delivery_types[2];
                        this.is_loaded = true;
                    }).catch((error) => {
                    this.$swal.fire({
                        title: 'Ошибка',
                        type: 'error'
                    });
                });
            },
            totalPrice: function () {
                let total_price = 0;

                for (let product of this.products) {
                    if (product.price_discount) {
                        total_price += product.quantity * product.price_discount;
                    } else {
                        total_price += product.quantity * product.price;
                    }
                }
                return total_price;
            },
            activePayment: function (payment) {
                return payment.class === "money_icon";
            },
            delProduct: function (index, id) {
                this.$swal.fire({
                    title: 'Удаление товара',
                    text: 'Вы действительно хотите удалить этот товар?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'Отмена',
                    cancelButtonColor: '#d33',
                    confirmButtonColor: '#0288d1',
                    confirmButtonText: 'Да, удалить!'
                }).then((result) => {
                    if (result.value) {
                        let route_e = this.route("baskets.destroy", {"product_id": id});
                        this.products.splice(index, 1);
                        axios.delete(route_e);
                        if (!this.products.length) {
                            if (this.is_modal === true) {
                                this.$emit('close');
                            } else {
                                window.scrollTo({
                                    top: 0
                                });
                            }
                        }
                        EventBus.$emit('dec_products_basket');
                    }
                });
            },
            delAllProducts: function () {
                this.$swal.fire({
                    title: 'Очищение корзины',
                    text: 'Вы действительно хотите очистить корзину?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'Отмена',
                    cancelButtonColor: '#d33',
                    confirmButtonColor: '#0288d1',
                    confirmButtonText: 'Да, очистить!'
                }).then((result) => {
                    if (result.value) {
                        let route_e = this.route('baskets.destroy');
                        this.products.splice(0, this.products.length);
                        axios.delete(route_e);
                    }
                });
            },
            byProducts: function () {
                this.basket.delivery_type_id = this.selected_delivery_type.id;
                let route_e = this.route('orders.store');
                this.preloader = true;
                axios.post(route_e, this.basket)
                    .then(response => {
                        this.$swal.fire({
                            title: 'Ваш заказ принят!',
                            type: 'success',
                            showCancelButton: false,
                            showConfirmButton: false,
                            html: `<div class="basket_checkout_success">
                                    <div>Номер заказа ${response.data.order_number}</div>
                                    <div>Сумма заказа: ${response.data.total_price} руб.</div>
                                    <div>Способ оплаты: ${response.data.payment_type}</div>
                                    <div>Доставка: ${response.data.address}</div>
                                    <div>
                                        <a class="go_back_catalog" href="${this.route("categories.index")}">
                                            Вернуться в каталог
                                        </a>
                                    </div>
                                   </div>`
                        });
                        this.products.splice(0, this.products.length);
                        this.preloader = false;
                        // this.yandex_ym();
                    }).catch((error) => {
                    this.$swal.fire({
                        title: 'Ошибка',
                        type: 'error',
                        text: error.response.data.mess
                    });
                    this.preloader = false;
                });
            },
            yandex_ym: function () {
                let goalParams = {
                    order_price: this.totalPrice(),
                    currency: "RUB"
                };
                ym('57002299', 'reachGoal', 'ORDER', goalParams);
                return true;
            },
            incQuantityProduct: function (index) {
                if (this.products[index].max_quantity < this.products[index].quantity + 1) {
                    return;
                }
                this.products[index].quantity++;
                let route_e = this.route("baskets.update", {product_id: this.products[index].id});
                axios.put(route_e, {inc: true});
            },
            decQuantityProduct: function (index) {
                if (this.products[index].quantity < 2) {
                    return false;
                }
                this.products[index].quantity--;
                let route_e = this.route("baskets.update", {product_id: this.products[index].id});
                axios.put(route_e, {inc: false});
            }
        },
        mounted() {
            this.getData();
        },
        components: {
            vueCustomScrollbar
        }
    }
</script>

<style lang="scss">
    @import '_BasketComponent.scss';
</style>
