.FiltersComponent {
    // Vars
    & .price_area {
        display: flex;
        justify-content: space-between;
    }
    // Support

    // Module
    & {
        //
    }

    // Facets

    // States

}
