<template>
    <div class="FiltersComponent filter">
<!--        <div class="breadcrumbs-category">-->
<!--            <a href="/">Главная</a> / <a href="">Категории</a>-->
<!--        </div>-->
        <div class="type_filter">
            <div class="filter_title first_filter">
                <h3>
                    Категории
                    <span class="angle_icon" id="icon_rotate">
                        <img src="/images/icon/angle.png" alt="">
                    </span>
                </h3>
            </div>
            <ul class="filter_options">
                <li v-for="category in categories">
                    <div class="filter_options_item" :class="{'active': category.slug===slug}">
                        <hr class="filter_options_item_line">
                        <a class="filter_options_item_title" :href="getRouteCategory(category.slug)">{{ category.name }}</a>
                        <p class="filter_options_item_number">{{ category.count_product }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="type_filter">
            <div class="filter_title second_filter">
                <h3>
                    Цена
                    <span class="angle_icon" id="icon_rotate2">
                        <img src="/images/icon/angle.png" alt="">
                    </span>
                </h3>
            </div>
            <ul class="filter_options">
                <div class="price_area">
                    <span>от {{price_range[0]}}</span>
                    <span>до {{price_range[1]}}</span>
                </div>
                <vue-slider v-model.sync="price_range" v-bind.sync="options" v-on:drag-end="updatePrice"/>
            </ul>
        </div>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    import axios from 'axios';

    export default {

        data: () => ({
            options: {
                height: 2,
                min: 0,
                max: 10000,
                interval: 1
            },
            price_range: {
                type: Array,
                default: () => ([1, 1]),
            },
            categories: []
        }),
        mounted() {
            this.getFilters();
            this.price_range = this.price_range_p;
        },
        props: {
            price_range_p: {
                type: Array,
                default: () => ([1, 1]),
            },
            slug: String
        },
        components: {
            VueSlider
        },
        methods: {
            getFilters: function () {
                let route_e = this.route("categories.filters", {"slug": this.slug});
                axios.get(route_e)
                    .then(response => {
                        this.categories = response.data.categories;
                        this.price_range = [response.data.price.min | 0, response.data.price.max | 0];

                        this.options.min = response.data.price.min | 0;
                        this.options.max = response.data.price.max | 0;
                        console.log(this.price_range);
                    });
            },
            updatePrice: function () {
                this.$emit('update:price_range_p', this.price_range)
            },
            getRouteCategory: function (slug) {
                return this.route('categories.page', {'slug': slug});
            }
        }
    };
</script>
