.PaginateComponent {
    // Vars

    // Support

    // Module
    & {
        //
    }

    //.page_navigation {
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    //}
    //
    //.page_navigation-review{
    //    display: flex;
    //    align-items: center;
    //}
    //
    //.page_number, .page_number_go {
    //    font-family: Montserrat;
    //    font-style: normal;
    //    font-weight: 600;
    //    font-size: 18px;
    //    line-height: 22px;
    //    text-align: center;
    //    letter-spacing: 0.02em;
    //    text-transform: uppercase;
    //    color: rgba(0, 0, 0, 0.5);
    //    height: 50px;
    //    width: 50px;
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    //    margin-right: 18px;
    //
    //    -ms-user-select: none;
    //    -moz-user-select: none;
    //    -khtml-user-select: none;
    //    -webkit-user-select: none;
    //
    //    animation: slide-up 0.4s ease;
    //    @keyframes slide-up {
    //        0% {
    //            opacity: 0;
    //            transform: translateY(20px);
    //        }
    //        100% {
    //            opacity: 1;
    //            transform: translateY(0);
    //        }
    //    }
    //}
    //
    //.page_number_go{
    //    width: 150px;
    //}
    //
    //.page_number_active {
    //    color: #FFFFFF;
    //    background: #FF876C;
    //    border-radius: 3px;
    //}
    //
    //.page_number:hover{
    //    border-radius: 3px;
    //    border: solid 1px #FF876C;
    //    cursor: pointer;
    //    box-sizing: border-box;
    //}
    //
    //.page_number:active {
    //    color: #FFFFFF;
    //    background: #FF876C;
    //    border-radius: 3px;
    //    cursor: pointer;
    //}
    //
    //.page_number:focus {
    //    color: #FFFFFF;
    //    background: #FF876C;
    //    border-radius: 3px;
    //    cursor: pointer;
    //}
    //
    //.page_number.active {
    //    background: #FF876C;
    //    color: #ffffff;
    //    border-radius: 3px;
    //}



    // Facets

    // States
}
