<template>
    <div class="container">
      <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="PaginateComponent">
                <nav>
                    <div :class="class_component">
                        <p class="page_number" aria-label="« Назад" v-if="paginate.current_page !== 1" v-on:click="getContent(1)">
                            <span class="">‹</span>
                        </p>

                        <p class="page_number" aria-current="page" :class="{'active': page===paginate.current_page}"
                           v-for="page in paginate_list()" v-on:click="getContent(page)">
                            <span class="">{{ page }}</span>
                        </p>

                        <p class="page_number" aria-label="Вперёд »"  v-if="paginate.current_page !== paginate.last_page" v-on:click="getContent(paginate.last_page)">
                            <span class="">›</span>
                        </p>
                    </div>
                </nav>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        props: {
            paginate: {
                type: Object,
                default: () => ({}),
            },
            class_component: {
                type: String,
                default: () =>("page_navigation")
            }
        },
        methods: {
            paginate_list: function (event) {
                let pages = [];

                let start_pagination = this.paginate.current_page - this.$root.paginate_padding;
                if (start_pagination < 1) {
                    start_pagination = 1;
                }
                for (let i = start_pagination; i < this.paginate.current_page; i++) {
                    pages.push(i)
                }

                let end_pagination = this.paginate.current_page + this.$root.paginate_padding;
                if (end_pagination > this.paginate.last_page) {
                    end_pagination = this.paginate.last_page;
                }
                for (let i = this.paginate.current_page; i <= end_pagination; i++) {
                    pages.push(i);
                }

                return pages;
            },
            getContent: function(page) {
                this.$emit('eventComment', page);
            }
        }
    };
</script>

<style lang="scss">
    @import '_PaginateComponent.scss';
</style>
